<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/home/css/mainHome.css" type="text/css" />
    <link rel="stylesheet" href="../../styles/home/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="../../styles/font/themify-icons/themify-icons.css">
    <title>HTV Phones</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="top-nav">
                <div class="top-nav-height">
                    <div class="container">
                        <div class="pull-right">
                            <a href="">
                                <span class="icon-login ti-user"></span>
                                <span class="text-login">Log in</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="navbar">
                <div class="container nav-container">
                    <div class="navbar-header">
                        <a href="#" class="logo navbar-brand">
                            <img src="../../styles/img/logo.png" alt="">
                        </a>
                    </div>
                    <nav id="htv-navbar" class="js-htv-navbar">
                        <ul id="nav">
                            <li>
                                <a class = "hidden-nav" href="">
                                    <!--hidden will be deleted in future-->
                                    <span class="icon-font"
                                        style="background-image: url(../../styles/font/SVG/mobile.svg);">
                                    </span>
                                    <span class="text">Phones</span>
                                </a>
                            </li>
                            <li>
                                <a class = "hidden-nav" href="">
                                    <span class="icon-font"
                                        style="background-image: url(../../styles/font/SVG/laptop.svg);">
                                    </span>
                                    <span class="text">Laptops</span>
                                </a>
                            </li>
                            <li>
                                <a class = "hidden-nav" href="">
                                    <span class="icon-font"
                                        style="background-image: url(../../styles/font/SVG/tables.svg)">
                                    </span>
                                    <span class="text">Tables</span>
                                </a>
                            </li>
                            <li>
                                <a class = "hidden-nav" href="">
                                    <span class="icon-font"
                                        style="background-image: url(../../styles/font/SVG/wearables.svg)">
                                    </span>
                                    <span class="text">Wearables</span>
                                </a>
                            </li>
                            <li>
                                <a class = "hidden-nav" href="">
                                    <span class="icon-font"
                                        style="background-image: url(../../styles/font/SVG/audio.svg)">
                                    </span>
                                    <span class="text">Audio</span>
                                </a>
                            </li>
                            <li>
                                <a class = "hidden-nav" href="#">
                                    <span class="icon-font"
                                        style="background-image: url(../../styles/font/SVG/accessories.svg)"></span>
                                    <span class="text">Accessories</span>
                                    <span class="icon-font"
                                        style="background-image: url(../../styles/font/themify-icons/SVG/angle-down.svg)">
                                    </span>
                                </a>
                                <ul class="subnav">
                                    <li><a href="">Backup Charger</a></li>
                                    <li><a href="">Adapter, Cap</a></li>
                                    <li><a href="">Screen Protector</a></li>
                                    <li><a href="">Case</a></li>
                                    <li><a href="">Memory Cart</a></li>
                                    <li><a href="">Selfie Stick</a></li>
                                    <li><a href="">Waterproof Bag</a></li>
                                    <li><a href="">Keychains</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="nav-right js-nav-right">
                        <span class="icon-font hidden"
                            style="background-image: url(../../styles/font/SVG/shopping.svg)">
                        </span>
                        <span class="text hidden">Buy</span>
                        <span class="icon-font ti-angle-down hidden"></span>
                        <span class="icon-search ti-search" onclick="showSearchBox()"></span>
                        <span onclick="menu()" class="icon-menu ti-menu"></span>
                    </div>
                    <div class="nav-search js-nav-search">
                        <div class="search-box">
                            <input type="text" placeholder="Search htv.com" class="search-header js-search-header">
                            <a href="#" class="btn-search">
                                <span class="icon-btn-search ti-search"></span>
                            </a>
                        </div>
                        <a href="#" class="btn-close">
                            <span class="icon-btn-close ti-close" onclick="hideSearchBox()"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="slider">
            <div class="img">

            </div>
        </div>

        <div id="content">

        </div>

        <div id="footer">

        </div>
    </div>
    <script src="../../scripts/script.js"></script>
</body>

</html>