<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/home/mainHome.css" type="text/css" />
    <link rel="stylesheet" href="../../styles/font/themify-icons/themify-icons.css">
    <title>HTV Phones</title>
</head>

<body>
    <div id="main">
        <div id="top-nav">
            <div class="top-nav-height">
                <div class="container">
                    <div class="pull-right">
                        <a href="">
                            <span class="icon-login ti-user"></span>
                            <span class="text-login">Log in</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="header">

        </div>

        <div id="slider">

        </div>

        <div id="content">

        </div>

        <div id="footer">

        </div>
    </div>
</body>

</html>