<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/home/mainHome.css" type="text/css" />
    <link rel="stylesheet" href="../../styles/font/themify-icons/themify-icons.css">
    <title>HTV Phones</title>
</head>

<body>
    <div id="main">
        <div id="top-nav">
            <div class="top-nav-height">
                <div class="container">
                    <div class="pull-right">
                        <a href="">
                            <span class="icon-login ti-user"></span>
                            <span class="text-login">Log in</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="header">
            <div id="navbar">
                <div class="container nav-container">
                    <div class="navbar-header"> 
                        <a href="#" class="logo navbar-brand">
                            <img src="../../styles/img/logo.png" alt="">
                        </a>
                    </div>
                    <nav id="htv-navbar">
                        <ul id="nav">
                            <li>
                                <a href=""><i class="nav-mobile ti-mobile"></i>Phones</a>
                            </li>
                            <li>
                                <a href=""><i class="nav-laptop ti-desktop"></i>  Laptops</a>
                            </li>
                            <li>
                                <a href=""><i class ="nav-tablet ti-tablet"></i>Tables</a>
                            </li>
                            <li><a href="">Wearables</a></li>
                            <li><a href="">Audio</a></li>
                            <li>
                                <a href="">
                                    Accessories
                                    <i class="nav-arrow-down ti-angle-down"></i>
                                </a>
                                <ul class="subnav">
                                    <li><a href="">Backup Charger</a></li>
                                    <li><a href="">Adapter, Cap</a></li>
                                    <li><a href="">Screen Protector</a></li>
                                    <li><a href="">Case</a></li>
                                    <li><a href="">Memory Cart</a></li>
                                    <li><a href="">Selfie Stick</a></li>
                                    <li><a href="">Waterproof Bag</a></li>
                                    <li><a href="">Keychains</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div id="slider">

        </div>

        <div id="content">

        </div>

        <div id="footer">

        </div>
    </div>
</body>

</html>