<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css" />
        <link rel="stylesheet" href="../../styles/Sass/css/shopping/shopping.css">
        <link rel="stylesheet" href="../../styles/font/themify-icons/themify-icons.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">
        <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <title>HTV Phones</title>
    </head>
</head>

<body>
    <header>
        <div id="header" class="js-header">
            <div id="top-nav">
                <div class="top-nav-height">
                    <div class="container-header">
                        <div class="pull-right">
                            <a href="../../views/login/home.html" class="pull-right-login">
                                <span class="pull-right-icon-login ti-user"></span>
                                <span class="pull-right-text-login">Log in</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="navbar">
                <div class="container-header nav-container">
                    <div class="navbar-header">
                        <a href="../../views/home/index.html" class="logo navbar-brand">
                            <img src="../../styles/img/logo.png" alt="" />
                        </a>
                    </div>
                    <nav id="htv-navbar">
                        <ul id="nav">
                            <li class="nav-item nav-item__hide">
                                <a href="../../views/product/phones.html">

                                    <span class="text">Phones</span>
                                </a>
                            </li>
                            <li class="nav-item nav-item__hide">
                                <a href="../../views/product/laptops.html">

                                    <span class="text">Laptops</span>
                                </a>
                            </li>
                            <li class="nav-item nav-item__hide">
                                <a href="../../views/product/tablets.html">

                                    <span class="text">Tablets</span>
                                </a>
                            </li>
                            <li class="nav-item nav-item__hide">
                                <a href="../../views/product/wearables.html">

                                    <span class="text">Wearables</span>
                                </a>
                            </li>
                            <li class="nav-item nav-item__hide">
                                <a href="../../views/product/audio.html">
                                    <span class="text">Audios</span>
                                </a>
                            </li>
                            <li class="nav-item nav-item__up">
                                <!-- <a onclick="subnavSlideY()" href="#"> -->
                                <a href="#">
                                    <span class="text">Accessories</span>
                                    <span class="icon-angle nav-icon-angle ti-angle-down"
                                        style="font-size: 13px"></span>
                                </a>

                                <span class="icon-font-white change-icon-font angle-down">
                                </span>
                                <ul class="subnav">
                                    <li><a href="">Backup Charger</a></li>
                                    <li><a href="">Adapter, Cap</a></li>
                                    <li><a href="">Screen Protector</a></li>
                                    <li><a href="">Case</a></li>
                                    <li><a href="">Memory Cart</a></li>
                                    <li><a href="">Selfie Stick</a></li>
                                    <li><a href="">Waterproof Bag</a></li>
                                    <li><a href="">Keychains</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="nav-right">
                        <span class="icon-search ti-search"></span>
                        <div class="icon">
                            <!-- <span class="icon-font ti-shopping-cart icon-hide"></span> -->
                            <span class="fal fa-shopping-bag"></span>
                            <span class="text icon-hide">Buy</span>
                            <span class="icon-font icon-angle ti-angle-down icon-hide"
                                style="margin-top:2px; font-size: 13px"></span>
                            <span class="icon-font-white change-icon-font ti-angle-down icon-hide"
                                style="margin-top: 2px; margin-left: 2px"></span>
                            <input type="text" class="input-search" placeholder="Search htv.com">
                            <span class="btn-menu icon-menu ti-menu"></span>
                            <div class="shopping">
                                <!-- <span class="shopping-icon fal fal-shopping-cart"></span> -->
                                <span class="shopping-icon fal fa-shopping-cart"></span>
                                <span class="shopping-text">HV cloud</span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-search">
                        <div class="nav-search-box">
                            <input type="text" placeholder="Search htv.com" class="nav-search-box-header">
                            <a href="#" class="nav-search-box-btn">
                                <span class="nav-search-box-icon-search ti-search"></span>
                            </a>
                        </div>
                        <a href="#" class="nav-search-btn-close">
                            <span class="nav-search-icon-close ti-close" onclick="hideSearchBox()"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="notification">
            <div class="notification-icon">
                <i class="fad fa-shopping-cart"></i>
            </div>
            <div class="notification-text">
                <span>There are no products in the cart</span>
            </div>
            <a href="../../views/product/phones.html" class="notification-btn" value="back-to-home">
                <span class="notification-btn-text">BACK TO HOME</span>
            </a>
            <div class="notification-info">
                <span> When you need help please call&nbsp</span>
                <a href="tel:0782883871">0782888371</a>
                <span>or&nbsp</span>
                <a href="tel:0334193816">0334193816</a>
                <span>&nbsp(7h30 - 22h)</span>
            </div>
        </div>
        <div class="content" style="display: none">
            <div class="content-header">
                <a href="../product/phones.html" class="content-header__back">
                    <i class="content-header-icon-left fad fa-chevron-left"></i>
                    <span class="content-header-text__blue">&nbspBuy more products</span>
                </a>
                <span class="content-header-text__black">Your shopping cart</span>
            </div>
            <div class="content-bottom">
                <div class="cards">
                    <ul class="card">
                        <li class="card-item">
                            <div class="card-item-left">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/213031/iphone-12-xanh-la-new-2-200x200.jpg"
                                    alt="" class="card-item-img">
                                <button class="btn-close" value="Delete">
                                    <i class="fad fa-times-circle"></i>
                                    Delete
                                </button>
                            </div>
                            <div class="card-item-center">
                                <div class="card-item-text">Điện thoại iphone 12 64GB</div>
                            </div>
                            <div class="card-item-right">
                                <div class="card-item-price">
                                    <span class="card-item-price-text">20.490.000₫</span>
                                    <strike class="card-item-price-text">22.490.000₫</strike>
                                </div>
                                <div class="card-item-chose-number">
                                    <div class="card-minus">
                                        <i></i>
                                    </div>
                                    <input class="card-number" max="2" min="1" value="1" type="number">
                                    <div class="card-plus">
                                        <i></i>
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card-item">
                            <div class="card-item-left">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/213031/iphone-12-xanh-la-new-2-200x200.jpg"
                                    alt="" class="card-item-img">
                                <button class="btn-close" value="Delete">
                                    <i class="fad fa-times-circle"></i>
                                    Delete
                                </button>
                            </div>
                            <div class="card-item-center">
                                <div class="card-item-text">Điện thoại iphone 12 64GB</div>
                            </div>
                            <div class="card-item-right">
                                <div class="card-item-price">
                                    <span class="card-item-price-text">20.490.000₫</span>
                                    <strike class="card-item-price-text">22.490.000₫</strike>
                                </div>
                                <div class="card-item-chose-number">
                                    <div class="card-minus">
                                        <i></i>
                                    </div>
                                    <input class="card-number" min="0" value="0" type="number">
                                    <div class="card-plus">
                                        <i></i>
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pay">
                    <div class="pay-top">
                        <span class="pay-top-text">Total money:</span>
                        <span class="pay-top-price">222000</span>
                    </div>
                    <div class="pay-bottom">
                        <button class="pay-bottom-btn" value="Pay">Pay</button>
                        <span class="pay-bottom-text">Choose a payment method when placing an order</span>
                    </div>
                </div>
            </div>
        </div>
        <span class="primary" style="display: none">By placing an order you agree to the terms of HV phone</span>
    </div>
</body>
<script src="../../scripts/product/SCommon.js"></script>
<script src="../../scripts/shopping/script.js"></script>

</html>