:root {
  --color-header: #ccc;
  --color-border-register: #e8e8e8;
  --color-border-reset-tab-box: #dddddd;
  --color-border-white: #fff;
  --color-red-star: #f30;
  --color-red: #ff0000;
  --color-gray: #ccc;
  --color-back: #000;
  --color-get-code: #f7f7f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--color-black);
}

#mainbox::after,
#content-title::after,
#header::after,
#content::after,
.tip::after {
  content: "";
  clear: both;
  display: block;
}

.about {
  margin: 0 auto;
  height: inherit;
  padding: 10px 0 9px 10px;
  text-align: left;
}

.set-tab {
  font-size: 14px;
  display: block;
  float: left;
  cursor: pointer;
  line-height: 38px;
  padding: 0 20px;
}

.register-online:focus {
  border: 1px solid #f30 !important;
}

#header-box {
  height: 63px;
  text-align: left;
  background: url("../../styles/img/register/header_bg.gif") repeat-x 0 0;
}
#header-box #header {
  width: 950px;
}
#header-box #header img {
  vertical-align: top;
  width: 80px;
  line-height: inherit;
}

#mainbox {
  background: url("../../styles/img/register/mainbox_bg1.gif") repeat-x left top;
  text-align: center;
  padding-bottom: 30px;
}
#mainbox #content-title {
  width: 940px;
}
#mainbox #content-title h1 {
  float: left;
  font-size: 36px;
  line-height: 1.2;
}
#mainbox #content-title h1 font {
  font-size: 18px;
  color: #666;
}
#mainbox #content {
  margin: 0 auto;
  text-align: left;
  padding: 0 10px;
  width: 961px;
}
#mainbox #content #content-top {
  margin: 0 auto;
  background: url("../../styles/img/register/boxTop_Bg.png") no-repeat center top;
  height: 6px;
}
#mainbox #content .register {
  position: relative;
  border-left: 1px solid var(--color-border-register);
  border-right: 1px solid var(--color-border-register);
  width: 941px;
}
#mainbox #content .register .reset-tab-box {
  height: 40px;
  width: 933px;
  padding-left: 28px;
  margin: 0 3px;
  background: url("../../styles/img/register/tab_bg.gif") repeat-x 0 0;
}
#mainbox #content .register .reset-tab-box .set-ontab {
  border-top: 1px solid var(--color-border-reset-tab-box);
  border-bottom: 1px solid var(--color-border-white);
  border-left: 1px solid var(--color-border-reset-tab-box);
  border-right: 1px solid var(--color-border-reset-tab-box);
}
#mainbox #content .register .reset-tab-box .set-offtab {
  border-top: 1px solid var(--color-border-white);
  border-bottom: 1px solid var(--color-border-reset-tab-box);
}
#mainbox #content .register-main-box {
  position: relative;
}
#mainbox #content .register-main-box .register-message {
  padding: 5px 0 0px 140px;
  height: 23px;
}
#mainbox #content .register-online {
  padding: 5px 0 5px 0;
  height: 40px;
  width: 945px;
}
#mainbox #content .register-online .redtips {
  float: left;
  color: var(--color-red);
  font-size: 12px;
  margin-left: 13px;
  line-height: 23px;
  margin-top: 6px;
}
#mainbox #content .register-online .white-space-text {
  width: 460px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#mainbox #content .register-online img {
  transform: translate(-32px, -3px);
  position: absolute;
  width: 35px;
  cursor: pointer;
}
#mainbox #content .register-online #correctips {
  width: 17px;
  position: absolute;
  margin-left: 25px;
  margin-top: 4px;
}
#mainbox #content .register-text {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 156px;
  text-align: right;
  float: left;
}
#mainbox #content .register-input {
  float: left;
  width: 235px;
  height: 30px;
  line-height: 30px;
  margin-left: 30px;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  padding: 0 2px;
}
#mainbox #content .register-red-star {
  font-size: 16px;
  color: var(--color-red-star);
  font-weight: bold;
}
#mainbox #content .agree-input {
  vertical-align: middle;
  margin-left: 30px;
  cursor: pointer;
}
#mainbox #content .float-left {
  float: left;
}
#mainbox #content .register-agree {
  padding: 5px 0 0 0;
  margin: 15px 0 15px 155px;
}
#mainbox #content .register-submit {
  margin: 15px 0 0 184px;
}
#mainbox #content .sub-bottom {
  background: url("../../styles/img/register/bt_bg.gif") no-repeat left top;
  text-align: center;
  line-height: 29px;
  width: 95px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border: none;
}
#mainbox #content .bottom {
  padding-top: 50px;
  border: 0 1px solid var(--color-border-register);
  border-radius: 0 0 3px 3px;
}
#mainbox #content #content-bottom {
  background: url("../../styles/img/register/boxBottom_Bg.gif") no-repeat center bottom;
  height: 8px;
}
#mainbox #content .phone-vercode-input {
  float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px 0 30px;
  display: inline;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  padding: 0 2px;
}
#mainbox #content .phone-button {
  float: left;
  width: 130px;
  height: 30px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  background-color: var(--color-get-code);
  cursor: pointer;
}

/*# sourceMappingURL=SRegister.css.map */
