* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 12px;
  font-family: Helvetica, Arial sans-serif;
  color: #000;
  line-height: 1.2;
}

html, body {
  min-height: 100%;
}

.btn-controll {
  width: 140px;
  height: 32px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.textbox-input {
  width: 100%;
  height: 38px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 35px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.textbox-input:focus {
  border: 1px solid #f66f6a;
  background-color: #fff;
}

.pt-24 {
  padding-bottom: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.set-tab {
  font-size: 14px;
  display: block;
  float: left;
  cursor: pointer;
  width: 144px;
  text-align: center;
  opacity: 0.5;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0 8px 12px 8px;
  line-height: 16px;
}

.blur-text {
  border-bottom: #e6e6e6 2px solid !important;
  transition: all 0.4s;
  opacity: 0.6;
}
.blur-text span {
  font-weight: normal !important;
}

.unblur-text {
  transition: all 0.4s;
  border-bottom: #f66f6a 2px solid !important;
}
.unblur-text span {
  font-weight: bold;
  opacity: 1 !important;
}

.login-main::after {
  content: "";
  clear: both;
  display: block;
}

.hide-form {
  display: none;
}

#header {
  width: 100%;
  min-width: 960px;
}
#header #header-box {
  margin: 0 auto;
  height: inherit;
  padding: 4px 8.3%;
  background-color: #000;
  line-height: 20px;
}
#header #header-box img {
  width: 80px;
  vertical-align: center;
}
#header #header-box .head-contact {
  display: inline-block;
  padding-top: 10px;
  float: right;
  height: 20px;
  top: 50%;
}
#header #header-box .head-contact span {
  font-size: 13px;
}
#header #header-box .head-contact span a {
  color: #fff;
  text-decoration: none;
  line-height: inherit;
}
#header #header-box .clearBoth {
  clear: both;
}

#content {
  display: block;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
  min-height: 100%;
}
#content form {
  padding-bottom: 20px;
}
#content #content-title {
  padding: 64px 0 12px;
  text-align: center;
}
#content .reset-tab-box {
  margin: 0 auto;
  width: 289px;
  display: flex;
  padding-top: 30px;
}
#content .reset-tab-box .font-user {
  font-weight: bold;
  opacity: 1;
}
#content .reset-tab-box .set-show {
  border-bottom: #f66f6a 2px solid;
  width: 144px;
  line-height: 20px;
  display: flex;
}
#content .reset-tab-box .set-hidden {
  border-bottom: #dddddd 2px solid;
  width: 144px;
  line-height: 20px;
  position: relative;
  display: flex;
}
#content .login-main {
  background-color: #fff;
  width: 289px;
  margin: 0 auto;
  font-size: 12px;
  color: #fa2a2d;
}
#content .login-main .login-box {
  float: left;
  width: 289px;
  position: relative;
}
#content .login-main .login-box .errormessage {
  font-size: 12px;
  color: #FF0000;
  min-height: 14px;
  font-family: PingFangSC-Regular;
  text-decoration: none;
  padding-top: 34px;
  padding-bottom: 6px;
  word-wrap: break-word;
}
#content .login-main .login-box .captcha {
  width: 140px;
}
#content .login-main .login-box .pwd-input img {
  position: absolute;
  right: 0;
  width: 30px;
  cursor: pointer;
  padding: 4px 0;
}
#content .login-main .login-box .login-submit-pwd {
  width: 100%;
  height: 36px;
  cursor: pointer;
  color: #fff;
  background-color: #f66f6a;
  border-radius: 4px;
  border: 0 none;
}
#content .login-main .login-box .login-submit-pwd:hover {
  background-color: #FF0000;
}
#content .login-main .login-box #create-captcha {
  line-height: 38px;
  font-size: 24px;
  text-align: center;
  padding-right: 12px !important;
  background-color: #ccc;
  color: #111111;
  font-weight: bold;
  opacity: 0.6;
  cursor: pointer;
}
#content .login-main .modify-url {
  text-align: center;
  height: 19px;
  line-height: 19px;
  margin-top: 20px;
}
#content .login-main .modify-url a {
  text-decoration: none;
  color: #007dff;
}
#content .login-main .modify-url .underline {
  float: right;
  padding-left: 5px;
}
#content .login-main .modify-url .underline:hover {
  text-decoration: underline;
}
#content .login-main .modify-url .registr {
  float: left;
}
#content .login-main .modify-url .registr:hover {
  text-decoration: underline;
}
#content .login-main .btn-submit {
  background-color: #f66f6a;
  border: none;
  color: #fff;
}
#content .login-main .btn-submit:hover {
  background-color: #fa2a2d;
}
#content .login-main .btn-cancel {
  border: 1px solid #ccc;
  background-color: #fff;
}
#content .login-main .btn-cancel:hover {
  background-color: #e6e6e6;
}

footer {
  position: absolute;
  text-align: center;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 20px 0;
  bottom: 0;
  background-color: #f1f1f1;
  bottom: 0;
}
footer .title {
  font-size: 15px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
