<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" /> -->
	<link rel="stylesheet" href="../../styles/home/css/mainHome.css" type="text/css" />
	<link rel="stylesheet" href="../../styles/home/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="../../styles/font/themify-icons/themify-icons.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css" />
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="../../styles/home/product/phone.css">
	<title>HTV Phones</title>
</head>

<header>
	<div id="header" class="js-header">
		<div id="top-nav">
			<div class="top-nav-height">
				<div class="container-header">
					<div class="pull-right">
						<a href="../../views/login/homeLogin.html">
							<span class="icon-login ti-user"></span>
							<span class="text-login">Log in</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="navbar">
			<div class="container-header nav-container">
				<div class="navbar-header">
					<a href="../../views/home/index.html" class="logo navbar-brand">
						<img src="../../styles/img/logo.png" alt="" />
					</a>
				</div>
				<nav id="htv-navbar" class="js-htv-navbar">
					<ul id="nav">
						<li class="hide-nav">
							<a href="../../views/product/phones.html">
								<span class="icon-font"
									style="background-image: url(../../styles/font/SVG/mobile.svg);">
								</span>
								<span class="icon-font-white change-icon-font"
									style="background-image: url(../../styles/font/SVG/mobile-white.svg);">
								</span>
								<span class="text">Phones</span>
							</a>
						</li>
						<li class="hide-nav">
							<a href="../../views/product/laptops.html">
								<span class="icon-font"
									style="background-image: url(../../styles/font/SVG/laptop.svg);">
								</span>
								<span class="icon-font-white change-icon-font"
									style="background-image: url(../../styles/font/SVG/laptop-white.svg);">
								</span>
								<span class="text">Laptops</span>
							</a>
						</li>
						<li class="hide-nav">
							<a href="../../views/product/tablets.html">
								<span class="icon-font" style="background-image: url(../../styles/font/SVG/tables.svg)">
								</span>
								<span class="icon-font-white change-icon-font"
									style="background-image: url(../../styles/font/SVG/tables-white.svg)">
								</span>
								<span class="text">Tablets</span>
							</a>
						</li>
						<li class="hide-nav">
							<a href="../../views/product/wearables.html">
								<span class="icon-font"
									style="background-image: url(../../styles/font/SVG/wearables.svg)">
								</span>
								<span class="icon-font-white change-icon-font"
									style="background-image: url(../../styles/font/SVG/wearables-white.svg)">
								</span>
								<span class="text">Wearables</span>
							</a>
						</li>
						<li class="hide-nav">
							<a href="../../views/product/audio.html">
								<span class="icon-font" style="background-image: url(../../styles/font/SVG/audio.svg)">
								</span>
								<span class="icon-font-white change-icon-font"
									style="background-image: url(../../styles/font/SVG/audio-white.svg)">
								</span>
								<span class="text">Audios</span>
							</a>
						</li>
						<li class="hide-nav">
							<a onclick="subnavSlideY()" href="#">
								<span class="icon-font"
									style="background-image: url(../../styles/font/SVG/accessories.svg)"></span>
								<span class="icon-font-white change-icon-font"
									style="background-image: url(../../styles/font/SVG/accessories-white.svg)"></span>
								<span class="text">Accessories</span>
								<span class="icon-font angle-down"
									style="background-image: url(../../styles/font/themify-icons/SVG/angle-down.svg)">
								</span>
								<span class="icon-font-white change-icon-font angle-down"
									style="background-image: url(../../styles/font/SVG/angle-down-white.svg)">
								</span>
							</a>
							<ul class="subnav">
								<li><a href="">Backup Charger</a></li>
								<li><a href="">Adapter, Cap</a></li>
								<li><a href="">Screen Protector</a></li>
								<li><a href="">Case</a></li>
								<li><a href="">Memory Cart</a></li>
								<li><a href="">Selfie Stick</a></li>
								<li><a href="">Waterproof Bag</a></li>
								<li><a href="">Keychains</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="nav-right js-nav-right">
					<span class="icon-font hidden" style="background-image: url(../../styles/font/SVG/shopping.svg)">
					</span>
					<span class="icon-font-white change-icon-font hidden"
						style="background-image: url(../../styles/font/SVG/shopping-white.svg)">
					</span>
					<span class="text hidden">Buy</span>
					<span class="icon-font ti-angle-down hidden" style="margin-top:2px"></span>
					<span class="icon-font-white change-icon-font ti-angle-down hidden"
						style="margin-top: 2px; margin-left: 2px"></span>
					<span class="icon-search ti-search" onclick="showSearchBox()"></span>
					<span class="btn-menu icon-menu ti-menu"></span>
				</div>
				<div class="nav-search js-nav-search">
					<div class="search-box">
						<input type="text" placeholder="Search htv.com" class="search-header js-search-header" />
						<a href="#" class="btn-search">
							<span class="icon-btn-search ti-search"></span>
						</a>
					</div>
					<a href="#" class="btn-close">
						<span class="icon-btn-close ti-close" onclick="hideSearchBox()"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<body>
	<div id="main" style="height: 2000px">
		<div class="top-banner margin">
			<img src="../../styles/img/bannner/iphone-13.jpg" alt="">
		</div>
		<div class="top-box">
			<section>
				<div class="filter-beetle margin">

				</div>
			</section>
		</div>
		<div id="brand" class="margin">
			<div id="lst-brand" class="mb-10">
				<a href="" class="brand-item rd-52 pr-10">
					<img src="../../styles/img/brand/iphone.png" alt="" class="no-text">
				</a>
				<a href="" class="brand-item rd-52">
					<img src="../../styles/img/brand/oppo.jpg" alt="" class="no-text">
				</a>
				<a href="" class="brand-item rd-52">
					<img src="../../styles/img/brand/realme.png" alt="" class="no-text">
				</a>
				<a href="" class="brand-item rd-52">
					<img src="../../styles/img/brand/samsung.png" alt="" class="no-text">
				</a>
				<a href="" class="brand-item rd-52">
					<img src="../../styles/img/brand/vivo.jpg" alt="" class="no-text">
				</a>
				<a href="" class="brand-item rd-52">
					<img src="../../styles/img/brand/xiaomi.png" alt="" class="no-text">
				</a>
			</div>
		</div>
		<!-- <section id="category-page pt-20" data-name="phone">
			<div class="container-productbox margin">
				<div class="cards">
					<a href="">
						<div class="card">
							<div class="card-sale">installment 0%</div>
							<img src="https://cellphones.com.vn/sforum/wp-content/uploads/2020/10/NextPit_OnePlus_8T_back-scaled.jpg"
								alt="">
							<div class="card-content">
								<div class="card-name">
									<h3>Samsung Galaxy Z Fold 5G 512GB</h3>
								</div>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</div>
					</a>
					<a href="">
						<div class="card">
							<div class="card-sale">installment 0%</div>
							<img src="https://cellphones.com.vn/sforum/wp-content/uploads/2020/10/NextPit_OnePlus_8T_back-scaled.jpg"
								alt="">
							<div class="card-content">
								<div class="card-name">
									<h3>Samsung Galaxy Z Fold 5G 512GB</h3>
								</div>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</div>
					</a>
					<a href="">
						<div class="card">
							<div class="card-sale">installment 0%</div>
							<img src="https://cellphones.com.vn/sforum/wp-content/uploads/2020/10/NextPit_OnePlus_8T_back-scaled.jpg"
								alt="">
							<div class="card-content">
								<div class="card-name">
									<h3>Samsung Galaxy Z Fold 5G 512GB</h3>
								</div>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</div>
					</a>
					<a href="">
						<div class="card">
							<div class="card-sale">installment 0%</div>
							<img src="https://cellphones.com.vn/sforum/wp-content/uploads/2020/10/NextPit_OnePlus_8T_back-scaled.jpg"
								alt="">
							<div class="card-content">
								<div class="card-name">
									<h3>Samsung Galaxy Z Fold 5G 512GB</h3>
								</div>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</div>
					</a>
					<a href="">
						<div class="card">
							<div class="card-sale">installment 0%</div>
							<img src="https://cellphones.com.vn/sforum/wp-content/uploads/2020/10/NextPit_OnePlus_8T_back-scaled.jpg"
								alt="">
							<div class="card-content">
								<div class="card-name">
									<h3>Samsung Galaxy Z Fold 5G 512GB</h3>
								</div>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</div>
					</a>

				</div>
			</div>
		</section> -->
		<section id="category-page pt-20" data-name="phone">
			<div class="container-productbox margin">
				<div class="cards">
					<div class="card">
						<a href="">
							<div class="card-sale">
								<p class=text-sale>Sale 0%</p>
							</div>
							<img src="https://cdn.tgdd.vn/Products/Images/42/248284/samsung-galaxy-z-fold-3-green-1-600x600.jpg"
								alt="" class="card-image" />
							<div class="card-content">
								<h3 class="card-name">Samsung Galaxy Z Fold 5G 512GBSamsung Galaxy Z Fold 5G 512GBSamsung Galaxy Z Fold 5G 512GBSamsung Galaxy Z Fold 5G 512GBSamsung Galaxy Z Fold 5G 512GB</h3>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="">
							<div class="card-sale">
								<p class=text-sale>Sale 0%</p>
							</div>
							<img src="https://cdn.tgdd.vn/Products/Images/42/213031/iphone-12-do-new-2-600x600.jpg"
								alt="" class="card-image" />
							<div class="card-content">
								<h3 class="card-name">Samsung Galaxy Z Fold 5G 512GB</h3>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="">
							<div class="card-sale">
								<p class=text-sale>Sale 0%</p>
							</div>
							<img src="https://cdn.tgdd.vn/Products/Images/42/248293/xiaomi-11t-white-1-2-600x600.jpg"
								alt="" class="card-image" />
							<div class="card-content">
								<h3 class="card-name">Samsung Galaxy Z Fold 5G 512GB</h3>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="">
							<div class="card-sale">
								<p class=text-sale>Sale 0%</p>
							</div>
							<img src="https://cdn.tgdd.vn/Products/Images/42/241049/samsung-galaxy-a03s-black-600x600.jpg"
								alt="" class="card-image" />
							<div class="card-content">
								<h3 class="card-name">Samsung Galaxy Z Fold 5G 512GB</h3>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="">
							<div class="card-sale">
								<p class=text-sale>Sale 0%</p>
							</div>
							<img src="https://cdn.tgdd.vn/Products/Images/42/239747/oppo-reno6-z-5g-aurora-1-600x600.jpg"
								alt="" class="card-image" />
							<div class="card-content">
								<h3 class="card-name">Samsung Galaxy Z Fold 5G 512GB</h3>
								<div class="card-price">
									44.990.000₫
								</div>
								<div class="card-discount">
									Sale 1.000.000₫
								</div>
							</div>
						</a>
					</div>
					
			</div>
		</section>
		<div id="back-to-top" class="back-to-top">
			<button id="back-to-top-btn" title="Back to top">
				<i class="fas fa-angle-double-up"></i>
			</button>
		</div>
		<div class="toggle-container">
			<button class="theme-btn light" onclick="setTheme('light')" title="Light mode">
				<i class="fas fa-sun-cloud"></i>
			</button>
			<button class="theme-btn dark" onclick="setTheme('dark')" title="Dark mode">
				<i class="fas fa-moon-cloud"></i>
			</button>
		</div>
	</div>
</body>

<!-- <footer class="text-center text-lg-start bg-light text-muted">
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<div class="me-5 d-none d-lg-block">
			<span>Get connected with us on social networks:</span>
		</div>
		<div>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-facebook-f"></i>
			</a>

			<a href="" class="me-4 text-reset">
				<i class="fab fa-twitter"></i>
			</a>

			<a href="" class="me-4 text-reset">
				<i class="fab fa-google"></i>
			</a>

			<a href="" class="me-4 text-reset">
				<i class="fab fa-instagram"></i>
			</a>

			<a href="" class="me-4 text-reset">
				<i class="fab fa-linkedin"></i>
			</a>

			<a href="" class="me-4 text-reset">
				<i class="fab fa-github"></i>
			</a>

		</div>
	</section>
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4">
						<i class="fas fa-gem me-3"></i> Company HTV
					</h6>
					<p>
						Ho Chi Minh City University of Technology and Education
					</p>
				</div>

				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4">
						Products
					</h6>
					<p>
						<a href="#!" class="text-reset">Phones</a>

					</p>
					<p>
						<a href="#!" class="text-reset">Laptops</a>

					</p>
					<p>
						<a href="#!" class="text-reset">Tablets</a>

					</p>
					<p>
						<a href="#!" class="text-reset">Wearables</a>

					</p>
					<p>
						<a href="#!" class="text-reset">Audios</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Accessories</a>
					</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4">
						Useful links
					</h6>
					<p>
						<a href="#!" class="text-reset">Pricing</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Settings</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Orders</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Help</a>
					</p>
				</div>

				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<h6 class="text-uppercase fw-bold mb-4">
						Contact
					</h6>
					<p><i class="fas fa-home me-3"></i> HCMUTE</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						19110283@student.hcmute.edu.vn
					</p>
					<p><i class="fas fa-phone me-3"></i> 033 4193816</p>
					<p><i class="fas fa-print me-3"></i> 078 2883817</p>
				</div>
			</div>
		</div>
	</section>

	<div class="text-center p-4 top-footer">
		© 2021 Copyright:
		<a class="text-reset fw-bold">HTV Company</a>
	</div>

</footer> -->
<script src="../../scripts/product/SCommon.js"></script>

</html>