* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: var(--bs-font-family);
  width: 100%;
}

html,
body {
  background-color: var(--bs-color-body);
  font-size: 17px !important;
  color: var(--bs-font-color-light);
}

.htv-navbar__state,
.nav-right__state {
  visibility: hidden;
  transform: scale(0);
  transition: 0.3s linear;
}

.nav-search__state {
  visibility: visible !important;
  transform: scale(1) !important;
}

.trans__li {
  transition: all 1s;
}

.rotate-angle__180 {
  display: inline-block;
  transform: rotate(180deg);
}

.mb-25 {
  margin-bottom: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

:root {
  --bs-color-top-nav: #5c5858;
  --bs-font-color-dark: #ced6e0;
  --bs-font-color-light: #1e272e;
  --bs-color-header-footer: #fff;
  --bs-color-body: #ffffff;
  --bs-color-border: #000000;
  --bs-color-change-nav: #d81414;
  --bs-background-btn-back-top: #6e3c3c;
  --bs-color-btn-back-top: #333333;
  --bs-color-event-box: #f1f1f1;
  --bs-color-topic: #535c68;
  --bs-colo-footer: #f8f9fa;
  --bs-color-btn-more: #a71547;
  --bs-color-change-mode: #d1d8e0;
  --bs-background-btn-change-mode: #2f3640;
  --bs-color-red: #d81414;
  --bs-height-navbar: 84px;
  --bs-height-header: 108px;
}

:root.light {
  --bs-color-top-nav: #3d3d3d;
  --bs-font-color-dark: #ced6e0;
  --bs-font-color-light: #1e272e;
  --bs-color-header-footer: #fff;
  --bs-color-body: #ffffff;
  --bs-color-border: #000000;
  --bs-color-change-nav: #d81414;
  --bs-background-btn-back-top: #ffffff;
  --bs-color-btn-back-top: #333333;
  --bs-color-event-box: #dcdde1;
  --bs-color-topic: #535c68;
  --bs-colo-footer: #f8f9fa;
  --bs-color-btn-more: #ff5252;
  --bs-color-change-mode: #d1d8e0;
  --bs-background-btn-change-mode: #2f3640;
  --bs-font-family: Arial, Helvetica, sans-serif;
  --bs-height-navbar: 84px;
  --bs-height-header: 108px;
}

:root.dark {
  --bs-color-top-nav: #d1d8e0;
  --bs-font-color-dark: #1e272e;
  --bs-font-color-light: #ced6e0;
  --bs-color-header-footer: #535c68;
  --bs-color-body: #535c68;
  --bs-color-border: #cad3c8;
  --bs-color-change-nav: #f0932b;
  --bs-background-btn-back-top: #333333;
  --bs-color-btn-back-top: #ffffff;
  --bs-color-event-box: #576574;
  --bs-color-topic: #c8d6e5;
  --bs-colo-footer: #596275;
  --bs-color-btn-more: #cc8e35;
  --bs-color-change-mode: #fa983a;
  --bs-background-btn-change-mode: #82ccdd;
  --bs-font-family: Arial, Helvetica, sans-serif;
  --bs-height-navbar: 84px;
  --bs-height-header: 108px;
}

@keyframes circular {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
#top-nav {
  position: relative;
}
#top-nav .top-nav-height {
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 25px;
  position: static;
  text-align: right;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0);
  background-color: var(--bs-color-top-nav);
}
#top-nav .pull-right {
  float: right;
  width: 312px;
  height: 25px;
}
#top-nav .pull-right-login {
  height: 25px;
  float: right;
  line-height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--bs-font-color-dark);
}
#top-nav .pull-right-icon-login {
  font-size: 15px;
  margin-right: 5px;
}

.container-header {
  position: relative;
  width: 93.075%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 20;
}

.js-header {
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  background-color: var(--bs-color-header-footer);
  transition: transform 0.4s;
}
.js-header .navbar-header {
  width: 133px;
  height: 66px;
  position: absolute;
}
.js-header .logo {
  padding-top: 9px;
  float: left;
  width: 133px;
  margin-left: 0;
  height: inherit;
  margin-top: 11px;
  line-height: 20px;
}

.header-hidden {
  transform: translateY(calc(-1 * var(--bs-height-header)));
}

#navbar {
  height: var(--bs-height-navbar);
  border-bottom: 1px solid #e6e6e6;
}
#navbar .logo > img {
  width: 59%;
  z-index: 20;
  height: auto;
  position: absolute;
  animation: circular 30s linear 0s infinite;
  -webkit-animation: circular 30s linear 0s infinite;
  -moz-animation: circular 30s linear 0s infinite;
  -o-animation: circular 30s linear 0s infinite;
}
#navbar .input-search {
  display: none;
}
#navbar li a {
  color: var(--bs-font-color-light);
}
#navbar .nav-right {
  position: relative;
  top: 0;
  right: 0;
  z-index: 20;
  float: right;
  width: 150px;
  height: 84px;
  margin-right: -15px;
  padding-right: 15px;
  transition: 0.3s linear;
}
#navbar .nav-right .icon {
  height: 84px;
  display: inline-block;
}
#navbar .nav-right .icon > span {
  float: left;
  cursor: pointer;
  line-height: 84px;
  padding-right: 3px;
  color: var(--bs-font-color-light);
}
#navbar .nav-right .icon-angle {
  line-height: 82px !important;
}
#navbar .nav-right .icon-search {
  right: 0;
  font-size: 25px;
  margin-right: 15px;
  line-height: 84px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
#navbar .nav-right .fa-shopping-bag {
  font-size: 24px;
}
#navbar .nav-right.hide-nav-right {
  display: none;
}
#navbar .nav-search {
  height: 55%;
  width: 480px;
  position: absolute;
  right: 0;
  visibility: hidden;
  margin-top: 18px;
  display: flex;
  transform: scale(0);
  transition: 0.3s linear;
  transform-origin: 100% center;
}
#navbar .nav-search-box {
  height: 100%;
  width: 90%;
  background-color: #ffffff;
  display: flex;
  position: relative;
}
#navbar .nav-search-box input {
  border: 1px solid #ccc;
}
#navbar .nav-search-box-header {
  border: 1px solid #000;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 15px;
  font-size: 18px;
  outline: none;
  border-radius: 6px;
}
#navbar .nav-search-box-btn {
  text-decoration: none;
  position: absolute;
  margin-top: 11px;
  color: #616161;
  right: 0;
  margin-right: 5px;
}
#navbar .nav-search-box-icon-search {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}
#navbar .nav-search-btn-close {
  position: absolute;
  text-decoration: none;
  line-height: 46px;
  right: 0;
  font-size: 26px;
}
#navbar .nav-search a {
  color: var(--bs-font-color-light);
}
#navbar .nav-search.show-nav-search {
  display: flex;
}

#htv-navbar {
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
  position: absolute;
  text-align: center;
  transition: 0.3s linear;
}
#htv-navbar.hide-htv-navbar {
  display: none;
}

.text {
  font-size: 0.9em;
  padding-left: 3px;
  line-height: 82px;
  opacity: 0.8;
  font-weight: 600;
}

.icon-font {
  background-repeat: no-repeat;
  background-position: center;
}

.icon-font-white {
  width: 2vw;
  background-repeat: no-repeat;
  background-position: center;
}

.change-icon-font {
  display: none;
}

#nav {
  height: inherit;
  list-style-type: none;
  margin-bottom: 0;
  transform: scale(1);
  transform: translateX(300px);
  transition: 0.5s linear;
  transform-origin: 100% center;
}
#nav ul {
  margin-bottom: 0 !important;
}
#nav li {
  position: relative;
  z-index: 20;
}
#nav li:hover:last-child .subnav {
  display: block;
}
#nav li a {
  display: block;
  padding: 0 1.3vw;
  text-decoration: none;
}
#nav > li {
  display: inline-block;
}
#nav > li > a {
  text-transform: uppercase;
}
#nav .subnav {
  left: 0;
  top: 100%;
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: var(--bs-color-header-footer);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav li:hover a {
  color: var(--bs-font-color-dark);
  background-color: var(--bs-color-top-nav);
}
#nav .subnav a {
  font-size: 15px;
  text-align: left;
  line-height: 50px;
}

@media screen and (min-width: 1025px) {
  .icon-angle {
    transition: 0.3s ease;
    display: inline-block;
  }

  .nav-right .icon-menu {
    display: none;
  }
  .nav-right .icon:hover .ti-angle-down {
    transform: rotate(180deg);
    transition: 0.3s ease;
  }
  .nav-right .icon:hover .shopping {
    visibility: visible;
    transform: 0.3s linear;
  }
  .nav-right .shopping {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 100%;
    float: left;
    background-color: #fff;
    transform: translate(-25%, -2%);
    border: 1px solid #e6e6e6;
    border-top: 1px solid #fff;
    visibility: hidden;
    cursor: pointer;
  }
  .nav-right .shopping:hover span {
    opacity: 1;
    transition: 0.2s;
  }
  .nav-right .shopping span {
    display: inline-block;
    line-height: 50px;
    opacity: 0.6;
    transition: 0.2s;
  }
  .nav-right .shopping-icon {
    font-size: 22px;
    padding-left: 10px;
  }
  .nav-right .shopping-text {
    padding-left: 20px;
  }

  #nav .subnav {
    width: 200px;
  }
  #nav .subnav li:first-child {
    border-top: 2px solid var(--bs-color-change-nav);
  }
  #nav li {
    transition: all 1s;
  }
  #nav > li > a {
    height: 84px;
  }
  #nav > li:not(.nav-item__up):hover > a {
    border-bottom: 2px solid var(--bs-color-change-nav);
  }
  #nav > li:hover:last-child .icon-angle {
    display: inline-block;
    transform: rotate(180deg);
    transition: 0.3s ease;
  }
}
@media screen and (max-width: 1024px) {
  .htv-navbar__state {
    transform: none;
  }

  #nav {
    position: absolute;
    display: inline-block;
    top: 100%;
    width: 109%;
    height: auto;
    transform: translateX(116%);
    transition: 0.5s linear;
    transform-origin: 100% center;
  }
  #nav .nav-item-show {
    visibility: visible;
    transform: translateX(-120%);
  }
  #nav,
#nav li {
    display: block;
  }
  #nav > li > a {
    height: 60px;
    text-align: left;
  }
  #nav a {
    background-color: var(--bs-color-header-footer);
  }
  #nav .nav-product-hide {
    display: none;
    transition: 0.3s linear;
  }
  #nav .subnav {
    display: none !important;
    width: 100%;
  }
  #nav .subnav a {
    padding-left: 26px;
  }
  #nav .show-subnav {
    display: block !important;
    box-shadow: none;
    border-top: 2px solid #f1f1f1;
  }
  #nav .rotate-angle-down {
    transform: rotate(180deg);
  }
  #nav .nav-item a {
    background-color: #f8f8f8;
    border-bottom: 1px solid #d4d4d4;
  }

  #text {
    display: none;
  }

  .nav-right {
    height: 30px;
  }
  .nav-right .icon {
    display: flex;
  }
  .nav-right .icon span:not(.btn-menu) {
    visibility: hidden;
  }
  .nav-right .icon-hide {
    display: none;
  }
  .nav-right .icon-search {
    margin-left: 20px;
    left: 0;
  }
  .nav-right .icon-menu {
    position: absolute;
    right: 0;
    margin-right: 15px;
    font-size: 30px;
    z-index: 2;
  }

  .text {
    font-size: 15px;
    line-height: 55px;
    padding-left: 20px;
  }

  .icon-font,
.icon-font-white {
    width: 30px;
  }

  .top-nav {
    z-index: 110;
  }
  .top-nav .top-nav-height {
    position: static;
    height: 25px;
    text-align: right;
    background-color: var(--background-top-nav);
  }
  .top-nav .top-nav-height a {
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 0;
    font-size: 14px;
    float: left;
    color: var(--color-text);
    width: auto;
    padding: 0 10px;
  }
  .top-nav .top-nav-height a .iconfont {
    margin-right: 5px;
    border: none;
    font-size: 14px;
    width: auto;
    height: auto;
    float: left;
  }
}
@media screen and (max-width: 767px) {
  .js-header {
    height: calc(var(--bs-height-header) - 20px);
  }
  .js-header .logo {
    padding-top: 0px;
    margin-top: 0;
  }

  #navbar {
    height: 64px;
  }
  #navbar .nav-search {
    display: none;
  }
  #navbar .logo img {
    width: 46%;
    top: 24%;
  }
  #navbar .nav-right {
    margin-top: 0;
    top: 19%;
    width: 100px;
    visibility: visible !important;
    transition: 0.3s ease;
  }
  #navbar .nav-right .icon-search {
    font-size: 22px;
    line-height: 40px;
    margin: 0;
    float: right;
  }
  #navbar .nav-right .icon-menu {
    font-size: 22px;
    line-height: 40px !important;
    top: 0;
  }
  #navbar .input-search {
    position: absolute;
    height: 32px;
    line-height: 32px;
    right: 50%;
    display: block;
    transform: translate(12%, 15%);
    right: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 30px;
  }
}
.slider {
  position: relative;
  background: var(--bs-white);
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  margin-top: 108px;
  z-index: 10;
  border-bottom: 1px solid var(--bs-white-rgba);
}
.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}
.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}
.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .slide .info {
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.05);
}
.slider .slide .info h2 {
  font-size: 2em;
  font-weight: 800;
}
.slider .slide .info p {
  font-size: 1em;
  font-weight: 400;
}
.slider:hover .navigation {
  opacity: 1;
}
.slider .navigation {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.slider .navigation .prev-btn,
.slider .navigation .next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}
.slider .navigation .prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.slider .navigation .next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.slider .navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}
.slider .navigation-visibility .slide-icon {
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
}
.slider .navigation-visibility .slide-icon.active {
  background: #4285f4;
}

@media screen and (max-width: 900px) {
  .slider {
    width: 100%;
  }

  .slider .slide .info {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .slider {
    margin-top: calc(var(--bs-height-header) - 20px);
  }
}
@media screen and (max-width: 500px) {
  .slider .slide .info h2 {
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p {
    font-size: 0.9em;
  }
}
#content {
  height: inherit;
  --space-column: 30px;
  --space-row: 30px;
  --max-height-img-box: 410px;
  --height-scroll: 460px;
}
#content .new-content {
  --width-content: 85.652%;
  margin: 0 auto;
  padding: 0 15px;
  width: var(--width-content);
  max-width: 1430.016px;
  height: auto;
}
#content .new-content .new-top {
  text-align: center;
}
#content .new-content .new-top .title {
  position: relative;
  padding: 50px 0;
  margin: 0;
}
#content .new-content .new-top .title::after {
  content: "";
  background: var(--bs-color-red);
  width: 75px;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}
#content .new-content .panel-list-img {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: var(--space-row);
  transition: 0.3s ease;
}
#content .new-content .panel-list-img .list-top-img {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: var(--space-column);
}
#content .new-content .panel-list-img .list-center-img {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: var(--space-column);
}
#content .new-content .panel-list-img .list-bottom-img {
  display: grid;
  grid-template-columns: 1.015fr 0.98fr 0.98fr;
  grid-column-gap: var(--space-column);
  grid-row-gap: var(--space-row);
}
#content .new-content .panel-list-img .img-box {
  width: 100%;
  position: relative;
  max-height: var(--max-height-img-box);
  object-fit: cover;
  overflow: hidden;
}
#content .new-content .panel-list-img .img-box a {
  display: block;
  height: 100%;
}
#content .new-content .panel-list-img .img-box a:hover .text-box {
  bottom: 0;
  transition: all 0.3s linear;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
}
#content .new-content .panel-list-img .img-box .mask {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
}
#content .new-content .panel-list-img .img-box .mask:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
}
#content .new-content .panel-list-img .img-box .mask .text-box {
  text-align: left;
  position: absolute;
  width: 100%;
  padding: 25px 30px;
  bottom: -50px;
  color: var(--bs-font-color-dark);
  line-height: 26px;
  transition: all 0.3s linear;
  line-height: 1.5;
  color: #fff !important;
}
#content .new-content .panel-list-img .img-box .mask .text-box > div:hover {
  text-decoration: underline;
}
#content .new-content .panel-list-img .img-box .mask .text-box .category {
  font-size: 1vw;
  font-weight: 400;
}
#content .new-content .panel-list-img .img-box .mask .text-box .name {
  font-size: 1.3vw;
  font-weight: bold;
}
#content .new-content .panel-list-img .img-box .mask .text-box .text-in-img {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 20px;
}
#content .new-content .panel-list-img .img-box .mask .text-box .more span {
  font-size: 20px;
  font-weight: 500;
}
#content .new-content .panel-list-img .img-box .mask .text-box .more .iconfont {
  font-size: 12px;
  color: #e91e63;
  font-weight: bold;
}
#content .new-content .panel-list-img .img-click {
  width: 100%;
  max-height: var(--max-height-img-box);
  object-fit: cover;
  height: 100%;
}
#content .new-content .event-main {
  height: 469px;
  position: relative;
}
#content .new-content .event-main .event-row {
  width: 100%;
}
#content .new-content .event-main .event-text-box {
  height: 50%;
  width: 100%;
  background-color: var(--bs-color-event-box);
  padding: 30px;
}
#content .new-content .event-main .event-text-box .sub-title {
  font-size: 20px;
  margin-bottom: 10px;
}
#content .new-content .event-main .event-text-box .info-address {
  display: inline-block;
  height: 46px;
}
#content .new-content .event-main .event-text-box .info-text {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 16px;
}
#content .new-content .event-main .new-text-box {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--bs-color-event-box);
}
#content .new-content .event-main .new-text-box .scroll {
  padding: 30px 0;
  overflow: hidden;
  height: var(--height-scroll);
}
#content .new-content .event-main .new-text-box .scroll .info {
  padding: 0 30px;
  overflow-y: auto;
  height: var(--height-scroll);
}
#content .new-content .event-main .new-text-box .scroll .info-text {
  padding: 10px;
}
#content .new-content .event-main .new-text-box .scroll .info .sub-title {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 20px;
  margin-bottom: 0;
}
#content .new-content .event-main .topic {
  position: absolute;
  top: 0;
  width: 77px;
  height: 32px;
  background-color: #e91e63;
  color: #fff;
  text-align: center;
  line-height: 32px;
}
#content .new-content .btn-group {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#content .new-content .btn-group .btn-more {
  border-radius: 4px;
  width: 170px;
  height: 40px;
  border: 1px solid var(--bs-color-border);
  background-color: var(--bs-white);
  color: var(--bs-font-color-light);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  text-decoration: none;
}
#content .new-content .btn-group .btn-more:hover {
  background-color: var(--bs-color-btn-more);
  color: #fff;
}
#content .col-event {
  float: left;
  height: 480px;
}
#content .col-third {
  width: 33.3333333333%;
}
#content .place-img-center {
  width: 100%;
}
#content .place-img-bottom {
  width: 100%;
}
#content .place-img-event {
  width: 100%;
  display: block;
  height: 240px;
}
#content .pl-15 {
  padding-left: 15px;
}
#content .pr-15 {
  padding-right: 15px;
}
#content .story {
  margin-top: 100px;
  width: 100%;
}
#content .story img {
  width: 100%;
  height: 730px;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  #content {
    --space-column: 15px;
    --space-row: 15px;
    --max-height-img-box: 300px;
    transition: 0.3s ease;
  }
}
@media screen and (max-width: 1056px) {
  #content {
    --max-height-img-box: 250px;
  }
}
@media screen and (max-width: 1023px) {
  #content {
    --height-scroll: 100%;
  }
  #content .col-third {
    width: 80%;
    height: 100%;
    padding: 0;
  }
  #content .new-content .event-main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    gap: 20px;
  }
  #content .new-content .event-main .event-row {
    height: 400px;
  }
  #content .new-content .event-main .event-row .col-event {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #content .new-content .event-main .event-row .place-img-event {
    object-fit: cover;
    height: 50%;
  }
  #content .new-content .event-main .event-row .event-text-box {
    vertical-align: center;
  }
  #content .new-content .panel-list-img .img-box .mask {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
  }
  #content .new-content .panel-list-img .img-box .mask .text-box {
    padding: 10px;
    bottom: 0;
  }
  #content .new-content .panel-list-img .img-box .mask .text-box .text-in-img {
    margin-bottom: 5px;
  }
  #content .new-content .panel-list-img .img-box .mask .text-box .more span {
    font-size: 15px;
  }
}
@media screen and (max-width: 993px) {
  #content .new-content {
    --width-content: 100%;
  }
  #content .new-content .panel-list-img .list-top-img {
    grid-template-columns: repeat(2, 1fr);
  }
  #content .new-content .panel-list-img .list-center-img {
    grid-template-columns: repeat(2, 1fr);
  }
  #content .new-content .panel-list-img .list-bottom-img {
    grid-template-columns: repeat(2, 1fr);
  }
  #content .new-content .panel-list-img .img-box {
    --max-height-img-box: 390px;
    grid-row-gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  #content .new-content {
    --width-content: 100%;
  }
  #content .new-content .panel-list-img .list-top-img {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  #content .new-content .panel-list-img .list-center-img {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  #content .new-content .panel-list-img .list-bottom-img {
    grid-template-columns: 1fr;
  }
  #content .new-content .panel-list-img .img-box {
    --max-height-img-box: 390px;
    grid-row-gap: 15px;
  }
  #content .new-content .panel-list-img .img-box .mask .text-box .category {
    font-size: 10px;
  }
  #content .new-content .panel-list-img .img-box .mask .text-box .name, #content .new-content .panel-list-img .img-box .mask .text-box .text-in-img {
    font-size: 14px;
  }
  #content .new-content .panel-list-img .img-box .mask .text-box .more span {
    font-size: 14px;
  }
  #content .new-content .panel-list-img .img-box .mask .text-box .more .iconfont {
    font-size: 10px;
  }
}
.new_footer_area {
  background: #fbfbfd;
  position: relative;
  z-index: 1;
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}

.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("../../../img/product/Cycle.gif") no-repeat center center;
  width: 140px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
/*************footer End*****************/
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 26px;
  width: 55px;
  height: 55px;
  background-color: var(--bs-background-btn-back-top);
  color: var(--bs-color-btn-back-top);
  cursor: pointer;
  outline: none;
  border: 3px solid var(--bs-color-border);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
  z-index: 2;
}
#back-to-top-btn:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: var(--bs-color-btn-back-top);
  color: var(--bs-background-btn-back-top);
}

.toggle-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}

.toggle-container > button {
  cursor: pointer;
}

.theme-btn {
  width: 55px;
  height: 55px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: var(--bs-background-btn-change-mode);
}
.theme-btn i {
  font-size: 30px;
  color: var(--bs-color-change-mode);
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

.bg-light {
  background-color: var(--bs-colo-footer) !important;
}

.text-muted {
  color: var(--bs-font-color-light) !important;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .container {
    padding: 20px 100px;
  }

  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    z-index: 2;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 10px 50px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  hr {
    margin: 30px 0;
  }

  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
}

/*# sourceMappingURL=home.css.map */
