@keyframes circular {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

#top-nav {
    position: relative;

    .top-nav-height {
        bottom: 0;
        left: 100%;
        width: 100%;
        height: 25px;
        position: static;
        text-align: right;
        transition: all 0.5s;
        transform: translate3d(0, 0, 0);
        background-color: var(--bs-color-top-nav);
    }

    .pull-right {
        float: right;
        width: 312px;
        height: 25px;

        &-login {
            height: 25px;
            float: right;
            line-height: 25px;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none;
            color: var(--bs-font-color-dark);

        }

        &-icon-login {
            font-size: 15px;
            margin-right: 5px;
        }
    }
}

.container-header {
    position: relative;
    width: 93.075%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 20;
}

.js-header {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    background-color: var(--bs-color-header-footer);
    transition: transform 0.4s;

    .navbar-header {
        width: 133px;
        height: 66px;
        position: absolute;
    }

    .logo {
        padding-top: 9px;
        float: left;
        width: 133px;
        margin-left: 0;
        height: inherit;
        margin-top: 11px;
        line-height: 20px;
    }
}

.header-hidden {
    transform: translateY(calc(-1 * var(--bs-height-header)));
}

#navbar {
    height: var(--bs-height-navbar);
    border-bottom: 1px solid $gray-color-e6;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    .logo>img {
        width: 59%;
        z-index: 20;
        height: auto;
        position: absolute;
        // filter: grayscale(50%);
        animation: circular 30s linear 0s infinite;
        -webkit-animation: circular 30s linear 0s infinite;
        -moz-animation: circular 30s linear 0s infinite;
        -o-animation: circular 30s linear 0s infinite;
    }

    .input-search {
        display: none;
    }

    li a {
        color: var(--bs-font-color-light);
    }

    .nav-right {
        position: relative;
        top: 0;
        right: 0;
        z-index: 20;
        float: right;
        width: 150px;
        height: $nav-li-height;
        // display: flex;
        // margin-top: 19px;
        margin-right: -15px;
        padding-right: 15px;
        transition: 0.3s linear;

        .icon {
            height: $nav-li-height;
            display: inline-block;
            
            >span {
                float: left;
                cursor: pointer;
                line-height: $nav-li-height;
                padding-right: 3px;
                color: var(--bs-font-color-light);
                // width: 30px;
            }

            &-angle{
                line-height: calc($nav-li-height - 2px) !important;
            }
        }

        .icon-search {
            right: 0;
            font-size: 25px;
            margin-right: 15px;
            line-height: $nav-li-height;
            position: absolute;
            cursor: pointer;
            z-index: 2;
        }

        .fa-shopping-bag {
            font-size: 24px;
        }

        &.hide-nav-right {
            display: none;
        }
    }

    .nav-search {
        height: 55%;
        width: 480px;
        position: absolute;
        right: 0;
        visibility: hidden;
        margin-top: 18px;
        display: flex;
        transform: scale(0);
        transition: 0.3s linear;
        transform-origin: 100% center;

        &-box {
            // border: 1px solid var(--bs-color-border);
            height: 100%;
            width: 90%;
            background-color: #ffffff;
            display: flex;
            position: relative;

            input {
                border: 1px solid $gray-color;
            }

            &-header {
                border: 1px solid #000;
                outline: none;
                height: 100%;
                width: 100%;
                padding: 0 30px 0 15px;
                font-size: 18px;
                outline: none;
                border-radius: 6px;
            }

            &-btn {
                text-decoration: none;
                position: absolute;
                margin-top: 11px;
                color: #616161;
                right: 0;
                margin-right: 5px;
            }

            &-icon-search {
                font-size: 25px;
                margin-top: 20px;
                text-align: center;
            }
        }

        &-btn-close {
            position: absolute;
            text-decoration: none;
            line-height: 46px;
            right: 0;
            font-size: 26px;
        }

        a {
            color: var(--bs-font-color-light);
        }

        &.show-nav-search {
            display: flex;
        }
    }
}

#htv-navbar {
    top: 0;
    left: 0;
    right: 0;
    height: inherit;
    position: absolute;
    text-align: center;
    transition: 0.3s linear;

    &.hide-htv-navbar {
        display: none;
    }
}

.text {
    font-size: 0.9em;
    padding-left: 3px;
    line-height: 82px;
    opacity: 0.8;
    font-weight: 600;
}

.icon-font {
    // width: 1.7vw;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-font-white {
    width: 2vw;
    background-repeat: no-repeat;
    background-position: center;
}

.change-icon-font {
    display: none;
}

#nav {
    height: inherit;
    list-style-type: none;
    // display: inline-block;
    margin-bottom: 0;
    transform: scale(1);
    transition: 0.5s linear;
    transform-origin: 100% center;

    ul {
        margin-bottom: 0 !important;
    }

    li {
        position: relative;
        z-index: 20;

        &:hover:last-child .subnav {
            display: block;
        }

        a {
            display: block;
            padding: 0 1.3vw;
            text-decoration: none;
        }
    }

    >li {
        display: inline-block;

        >a {
            text-transform: uppercase;
        }
    }

    .subnav {
        left: 0;
        top: 100%;
        // width: 100%;
        display: none;
        position: absolute;
        list-style-type: none;
        background-color: var(--bs-color-header-footer);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        li:hover a {
            color: var(--bs-font-color-dark);
            background-color: var(--bs-color-top-nav);
        }

        a {
            font-size: 15px;
            text-align: left;
            line-height: 50px;
        }
    }
}

@include minw(1025px) {
    .icon-angle {
        transition: 0.3s ease;
        display: inline-block;
    }

    .nav-right {
        .icon {
            // display: flex;
            // gap: 2px;

            &-menu {
                display: none;
            }

            &:hover {
                .ti-angle-down {
                    transform: rotate(180deg);
                    transition: 0.3s ease;
                }
                // &+ .shopping::before{
                //     content:'';
                //     height: 24px;
                //     width: 200px;
                //     transform: translateY(-100%);
                //     display: block;
                //     position: absolute;
                //     background-color: #ccc;
                // }
                .shopping{
                    visibility: visible;
                    transform: 0.3s linear;
                }
            }
        }

        .shopping {
            position: absolute;
            width: 200px;
            height: 50px;
            top: 100%;
            float: left;
            background-color: #fff;
            transform: translate(-25%, -2%);
            border: 1px solid $gray-color-e6;
            border-top: 1px solid $white-color;
            visibility: hidden;
            cursor: pointer;

            &:hover span{
                opacity: 1;
                transition: 0.2s;
            }

            span {
                display: inline-block;
                line-height: 50px;
                opacity: 0.6;
                transition: 0.2s;
            }

            &-icon {
                font-size: 22px;
                padding-left: 10px;
            }

            &-text {
                padding-left: 20px;
            }
        }
    }

    #nav {
        .subnav {
            width: 200px;

            li:first-child {
                border-top: 2px solid var(--bs-color-change-nav);
            }
        }
        
        li {
            transition: all 1s;
        }

        >li {
            >a {
                height: $nav-li-height;
            }

            &:not(.nav-item__up):hover {
                >a {
                    border-bottom: 2px solid var(--bs-color-change-nav);
                }
            }

            &:hover:last-child .icon-angle {
                display: inline-block;
                transform: rotate(180deg);
                transition: 0.3s ease;
            }
        }
    }
}

@include maxw(1024px) {
    .htv-navbar__state {
        transform: none;
    }

    #nav {
        position: absolute;
        display: inline-block;
        top: 100%;
        width: 109%;
        height: auto;
        transform: translateX(116%);
        transition: 0.5s linear;
        transform-origin: 100% center;

        .nav-item-show {
            visibility: visible;
            transform: translateX(-120%);
        }

        &,
        li {
            display: block;
        }

        >li>a {
            height: $res-li-height;
            text-align: left;
        }

        a {
            background-color: var(--bs-color-header-footer);
        }

        .nav-product-hide {
            display: none;
            transition: 0.3s linear;
        }

        .subnav {
            display: none !important;
            width: 100%;

            a {
                padding-left: 26px;
            }
        }

        .show-subnav {
            display: block !important;
            box-shadow: none;
            border-top: 2px solid #f1f1f1;
        }

        .rotate-angle-down {
            transform: rotate(180deg);
        }

        .nav-item {
            a {
                background-color: $gray-color-f8;
                border-bottom: 1px solid $gray-color-d4;
            }
        }
    }

    #text {
        display: none;
    }

    .nav-right {
        height: 30px;

        .icon {
            display: flex;

            span:not(.btn-menu) {
                visibility: hidden;
            }

            &-hide {
                display: none;
            }

            &-search {
                margin-left: 20px;
                left: 0;
            }

            &-menu {
                position: absolute;
                right: 0;
                margin-right: 15px;
                font-size: 30px;
                z-index: 2;
            }
        }
    }

    .text {
        font-size: 15px;
        line-height: 55px;
        padding-left: 20px;
    }

    .icon-font,
    .icon-font-white {
        width: 30px;
    }

    .top-nav {
        z-index: 110;

        .top-nav-height {
            position: static;
            height: 25px;
            text-align: right;
            background-color: var(--background-top-nav);

            a {
                height: 25px;
                line-height: 25px;
                margin-left: 10px;
                margin-right: 0;
                font-size: 14px;
                float: left;
                color: var(--color-text);
                width: auto;
                padding: 0 10px;

                .iconfont {
                    margin-right: 5px;
                    border: none;
                    font-size: 14px;
                    width: auto;
                    height: auto;
                    float: left;
                }
            }
        }
    }
}


@include maxw(767px) {
    .js-header {
        .logo {
            padding-top: 0px;
            margin-top: 0;
        }
        height: calc(var(--bs-height-header) - $reduce-height-navbar);
    }

    #navbar {
        height: calc($res-height-navbar - $reduce-height-navbar);

        .nav-search {
            display: none;
        }

        .logo {
            img {
                width: 46%;
                top: 24%;
            }
        }

        .nav-right {
            margin-top: 0;
            top: 19%;
            width: 100px;
            visibility: visible !important;
            transition: 0.3s ease;

            .icon-search {
                font-size: 22px;
                line-height: 40px;
                margin: 0;
                float: right;
            }

            .icon-menu {
                font-size: 22px;
                line-height: 40px !important;
                top: 0;
            }
        }

        .input-search {
            // position: relative;
            position: absolute;
            height: 32px;
            line-height: 32px;
            right: 50%;
            display: block;
            // transform: translateX(-37%);
            transform: translate(12%, 15%);
            right: 100%;
            border: 1px solid $gray-color;
            border-radius: 4px;
            padding-left: 10px;
            padding-right: 30px;
        }
    }
}