.pd-10 {
    padding: 10px;
}

.rd-52 {
    border-radius: 52px;
}

.pr-10 {
    margin-right: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-negative-8 {
    margin-left: -8px;
}

.check {
    border: 1px solid $primary-color !important;
    color: $primary-color;
}
.border-dropdown__select{
    border: 1px solid $primary-color !important;
}

.block-dropdown__list{
    display: block !important;
}

.border-select{
    border: 1px solid $primary-color !important;
}