@import "header";
@import "footer";
@import "utilities";
//common

.mb-25 {
    margin-bottom: 25px;
}

.mr-15 {
    margin-right: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-25 {
    margin-right: 25px;
}

//end common
html {
    font-family: var(--bs-font-family);
    width: 100%;
}

html,
body {
    background-color: var(--bs-color-body);
    font-size: 17px !important;
    color: var(--bs-font-color-light);
}

.slider {
    position: relative;
    background: var(--bs-white);
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    margin-top: 108px;
    z-index: 10;
    border-bottom: 1px solid var(--bs-white-rgba);

    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 0 50%);

        &.active {
            clip-path: circle(150% at 0 50%);
            transition: 2s;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info {
            position: absolute;
            color: #222;
            background: rgba(255, 255, 255, 0.3);
            width: 75%;
            margin-top: 50px;
            margin-left: 50px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 5px 25px rgb(1 1 1 / 5%);

            h2 {
                font-size: 2em;
                font-weight: 800;
            }

            p {
                font-size: 1em;
                font-weight: 400;
            }
        }
    }

    &:hover .navigation {
        opacity: 1;
    }

    .navigation {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 0.5s ease;

        .prev-btn,
        .next-btn {
            z-index: 999;
            font-size: 2em;
            color: #222;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            cursor: pointer;
        }

        .prev-btn {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .next-btn {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    .navigation-visibility {
        z-index: 999;
        display: flex;
        justify-content: center;

        .slide-icon {
            z-index: 999;
            background: rgba(255, 255, 255, 0.5);
            width: 20px;
            height: 10px;
            transform: translateY(-50px);
            margin: 0 6px;
            border-radius: 2px;
            box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

            &.active {
                background: #4285f4;
            }
        }
    }
}

#content {
    height: inherit;

    .new-content {
        // --width-content: 75%;
        --width-content: 85.652%;
        margin: 0 auto;
        padding: 0 15px;
        width: var(--width-content);
        max-width: 1430.016px;
        height: auto;

        .new-top {
            text-align: center;

            .title {
                position: relative;
                padding: 50px 0;
                margin: 0;

                &::after {
                    content: "";
                    background: var(--bs-color-red);
                    width: 75px;
                    height: 2px;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 35px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .panel-list-img {
            --space-column: 30px;
            --space-row: 30px;
            --max-height-img-box: 410px;
            display: flex;
            flex-direction: column;
            width: auto;
            gap: var(--space-row);

            .list-top-img {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-column-gap: var(--space-column);
            }

            .list-center-img {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: var(--space-column);
            }

            .list-bottom-img {
                display: grid;
                // grid-template-columns: repeat(3, 1fr);
                grid-template-columns: 1.015fr 0.98fr 0.98fr;
                grid-column-gap: var(--space-column);
            }

            .img {
                &-box {
                    width: 100%;
                    position: relative;
                    max-height: var(--max-height-img-box);
                    object-fit: cover;
                    overflow: hidden;

                    a {
                        display: block;
                        height: 100%;

                        &:hover .text-box {
                            bottom: 0;
                            transition: all 0.3s linear;
                            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
                        }
                    }

                    .mask {
                        position: absolute;
                        height: 50%;
                        width: 100%;
                        bottom: 0;

                        &:hover {
                            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
                        }


                        .text-box {
                            text-align: left;
                            position: absolute;
                            width: 100%;
                            padding: 25px 30px;
                            bottom: -50px;
                            color: var(--bs-font-color-dark);
                            line-height: 26px;
                            transition: all 0.3s linear;
                            line-height: 1.5;
                            color: #fff !important;

                            &>div:hover {
                                text-decoration: underline;
                            }

                            .category {
                                // font-size: 19px;
                                font-size: 1vw;
                                font-weight: 400;
                            }

                            .name {
                                // font-size: 24px;
                                font-size: 1.3vw;
                                font-weight: bold;
                            }

                            .text-in-img {
                                font-size: 15px;
                                opacity: 0.8;
                                margin-bottom: 20px;
                            }

                            .more {
                                span {
                                    font-size: 20px;
                                    font-weight: 500;
                                }

                                .iconfont {
                                    font-size: 12px;
                                    color: #e91e63;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                &-click {
                    width: 100%;
                    max-height: var(--max-height-img-box);
                    object-fit: cover;
                    height: 100%;
                }
            }
        }

        .event-main {
            height: 469px;
            position: relative;

            .event-row {
                width: 100%;
            }

            .event-text-box {
                height: 50%;
                width: 100%;
                background-color: var(--bs-color-event-box);
                padding: 30px;

                .sub-title {
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                .info {
                    &-address {
                        display: inline-block;
                        height: 46px;
                    }

                    &-text {
                        word-break: break-all;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                        font-size: 16px;
                    }
                }
            }

            .new-text-box {
                display: block;
                width: 100%;
                height: 100%;
                background-color: var(--bs-color-event-box);

                .scroll {
                    padding: 30px 0;
                    overflow: hidden;
                    height: 469px;
                }

                .info {
                    padding: 30px;
                    overflow-y: auto;
                    height: 469px;

                    &-text {
                        padding: 10px;
                    }

                    .sub-title {
                        word-break: break-all;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                        font-size: 20px;
                        margin-bottom: 0;
                    }
                }
            }

            .topic {
                position: absolute;
                top: 0;
                width: 77px;
                height: 32px;
                background-color: #e91e63;
                color: #fff;
                text-align: center;
                line-height: 32px;
            }
        }

        .btn-group {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;

            .btn-more {
                border-radius: 4px;
                width: 170px;
                height: 40px;
                border: 1px solid var(--bs-color-border);
                background-color: var(--bs-white);
                color: var(--bs-font-color-light);
                font-size: 15px;
                font-weight: 600;
                text-align: center;
                line-height: 36px;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    background-color: var(--bs-color-btn-more);
                    color: #fff;
                }
            }
        }
    }

    .col-event {
        float: left;
        height: 469px;
    }

    .col-third {
        width: calc(100% / 3);
    }

    .place-img-center {
        width: 100%;
    }

    .place-img-bottom {
        width: 100%;
    }

    .place-img-event {
        width: 100%;
        display: block;
        height: 240px;
    }

    .pl-15 {
        padding-left: 15px;
    }

    .pr-15 {
        padding-right: 15px;
    }

    .story {
        margin-top: 100px;
        width: 100%;

        img {
            width: 100%;
            height: 730px;
            object-fit: cover;
        }
    }
}


.row {
    margin-right: -30px !important;
    margin-left: -30px !important;
}