* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 12px;
  font-family: Helvetica, Arial sans-serif;
  color: #000;
  line-height: 1.2;
}

#header {
  width: 100%;
  min-width: 960px;
}
#header #header-box {
  margin: 0 auto;
  height: inherit;
  padding: 4px 8.3%;
  background-color: #000;
  line-height: 20px;
}
#header #header-box img {
  width: 80px;
  vertical-align: top;
}
#header #header-box .head-contact {
  display: inline-block;
  padding-top: 10px;
  float: right;
  height: 20px;
  top: 50%;
}
#header #header-box .head-contact span {
  font-size: 13px;
}
#header #header-box .head-contact span a {
  color: #fff;
  text-decoration: none;
  line-height: inherit;
}
#header #header-box .clearBoth {
  clear: both;
}

#content {
  display: block;
  padding-bottom: 40px;
}
#content input {
  font-size: 14px;
}
#content #login-bg-v2 {
  text-align: left;
  padding-bottom: 30px;
  min-width: 950px;
}
#content #content-title-v2 {
  padding: 64px 0 12px;
  text-align: center;
}
#content #content-title-v2 p {
  font-size: 32px;
  font-weight: bold;
}
#content .reset-tab-box-v2 {
  margin: 0 auto;
  width: 289px;
  display: flex;
  padding-top: 40px;
}
#content .reset-tab-box-v2 .set-show {
  border-bottom: #f66f6a 2px solid;
  width: 144px;
  line-height: 20px;
  display: flex;
}
#content .reset-tab-box-v2 .set-show .set-ontab-v2 {
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  width: 144px;
  text-align: center;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0 8px 12px 8px;
  line-height: 16px;
}
#content .reset-tab-box-v2 .set-hidden {
  border-bottom: #dddddd 2px solid;
  width: 144px;
  line-height: 20px;
  position: relative;
  display: flex;
}
#content .reset-tab-box-v2 .set-hidden .set-offtab-v2 {
  font-size: 14px;
  display: block;
  float: left;
  cursor: pointer;
  width: 144px;
  text-align: center;
  opacity: 0.5;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0 8px 12px 8px;
  line-height: 16px;
}
#content .login-main-v2 {
  background-color: #fff;
  width: 289px;
  margin: 0 auto;
  font-size: 12px;
  color: #fa2a2d;
  height: 282px;
}
#content .login-main-v2 .login-box-v2 {
  float: left;
  width: 289px;
}
#content .login-main-v2 .login-box-v2 .errormessage {
  font-size: 12px;
  color: #FF0000;
  min-height: 14px;
  font-family: PingFangSC-Regular;
  text-decoration: none;
  padding-top: 34px;
  padding-bottom: 6px;
  word-wrap: break-word;
}
#content .login-main-v2 .login-box-v2 .modify-online1 {
  padding-bottom: 24px;
}
#content .login-main-v2 .login-box-v2 .modify-online1 .textbox-input {
  width: 100%;
  height: 38px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#content .login-main-v2 .login-box-v2 .modify-online1 .number-phone {
  position: absolute;
  width: 289px;
  margin-top: -62px;
  visibility: hidden;
}
#content .login-main-v2 .login-box-v2 .pwd-input img {
  position: absolute;
  width: 30px;
  padding-top: 5px;
  cursor: pointer;
}
#content .login-main-v2 .login-box-v2 .login-submit-pwd-v2 {
  width: 100%;
  height: 36px;
  cursor: pointer;
  color: #fff;
  background-color: #f66f6a;
  border-radius: 4px;
  border: 0 none;
}
#content .login-main-v2 .login-box-v2 .login-submit-pwd-v2:hover {
  background-color: #FF0000;
}
#content .login-main-v2 .login-box-v2 .modify-url {
  height: 19px;
  line-height: 19px;
  margin-top: 20px;
}
#content .login-main-v2 .login-box-v2 .modify-url a {
  text-decoration: none;
  color: #007dff;
}
#content .login-main-v2 .login-box-v2 .modify-url .underline {
  float: right;
  margin-right: 8px;
}

.blur-text {
  border-bottom: #ccc 2px solid !important;
  transition: all 0.4s;
}
.blur-text span {
  font-weight: normal !important;
  opacity: 0.6;
}

.unblur-text {
  transition: all 0.4s;
  border-bottom: #f66f6a 2px solid !important;
}
.unblur-text span {
  font-weight: bold;
  opacity: 1 !important;
}

/*# sourceMappingURL=homeLogin.css.map */
