<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our website</title>
    <link rel="stylesheet" href="../../styles/logins/SRegister.css">
    <link rel="stylesheet" href="../../styles/font/themify-icons/themify-icons.css">
    <script src="../../scripts/register/jQuery.js"></script>
    <script src="../../scripts/register/common.js"></script>
</head>

<body>
    <form id="form-register" name="registerInfoForm" action="" method="post">
        <div id="main">
            <div id="header-box">
                <div id="header" class="about">
                    <a href="../../views/login/home.html" title="htv-phone">
                        <img src="../../styles/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div id="mainbox">
                <div id="content-title" class="about">
                    <h1>
                        &nbsp;&nbsp;Register
                        <font>Create a new account</font>
                    </h1>
                </div>
                <div id="content">
                    <div id="content-top"></div>
                    <div class="register">
                        <div class="reset-tab-box">
                            <a href="../../views/login/RBEmail.html">
                                <span class="set-offtab set-tab">Register by Email</span>
                            </a>
                            <span class="set-ontab set-tab">Register by Mobile</span>
                        </div>
                        <div class="register-main-box">
                            <div class="register-message">
                                <a name="message">
                                    <span id="spanmessage" class="redtips"></span>
                                </a>
                            </div>
                            <div class="register-online">
                                <div class="register-text">
                                    Mobile Number
                                    <span class="register-red-star">*</span>
                                </div>
                                <input type="text" name="registerVO.phone" class="register-input" tabindex="1"
                                    id="registerVO.phone" onblur="checkPhone()">
                                <span class="redtips" id="spanphoneinfo"></span>
                            </div>
                            <div class="register-online">
                                <div class="register-text">
                                    Password
                                    <span class="register-red-star">*</span>
                                </div>
                                <input type="password" name="registerVO.password" class="register-input" tabindex="6"
                                    id="registerVO.password" onblur="checkPassword()" style="padding-right: 30px">
                                <img class="psw-show" src="../../styles/img/pictureContent/icon-show-pass.png"
                                    style="visibility: hidden;">
                                <img class="psw-hide" src="../../styles/img/pictureContent/icon-hide-pass.png">
                                <span class="redtips" id="spanpwdinfo"></span>
                            </div>
                            <div class="register-online">
                                <div class="register-text">
                                    SMS code
                                    <span class="register-red-star">*</span>
                                </div>
                                <div>
                                    <input type="text" name="registerVO.sms" class="phone-vercode-input" tabindex="7"
                                        id="registerVO.sms" onblur="checkSMS()">
                                    <input id="sendButton" type="button" class="phone-button" value="Get code"
                                        tabindex="8">
                                </div>
                                <span class="redtips" id="spansmsinfo"></span>
                            </div>
                            <div class="tip">
                                <span class="redtip1"></span>
                            </div>
                            <input type="button" class="sub-bottom register-submit" name="regbtn" value="Register"
                                onclick="userRegister()" tabindex="9" id="regbtn" onclick="userRegister()">
                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div id="content-bottom"></div>
                </div>
            </div>
            <script src="../../scripts/register/SPhone.js"></script>
            <script src="../../scripts/register/showpass.js"></script>
        </div>
    </form>
</body>

</html>