<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/home/mainHome.css" type="text/css"/>
    <title>HTV Phones</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="nav">
                <div class="top-nav-height">
                    <div class="container">

                    </div> 
                </div>
                <div id="nav-bar">
                        
                </div>
            </div>
        </div>

        <div id="slider">

        </div>

        <div id="content">

        </div>

        <div id="footer">

        </div>
    </div>
</body>

</html>