<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../styles/Sass/css/support/support.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="content-left">
                <h3 class="title">SUPPORT 24/24</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas accusamus veritatis necessitatibus
                    sequi eos distinctio maxime!
                    Odio nisi assumenda soluta fugit illo maiores dolor quod eius accusantium, culpa architecto
                    possimus.</p>
                <div class="info">
                    <i class="fas fa-map"></i>
                    <span class="text-location">Phong My, Cao Lanh, Dong Thap</span>
                    <i class="fas fa-phone-alt"></i>
                    <span class="text-numberphone">
                        <a href="[0782883871]">0782883871</a>
                        or
                        <a href="[034193816]">0334193816</a>
                    </span>
                    <i class="fas fa-envelope"></i>
                    <span class="text-email">
                        <a href="[19110318@student.hcmute.edu.vn]">19110318@student.hcmute.edu.vn</a>
                        or
                        <a href="[19110318@student.hcmute.edu.vn]">19110283@student.hcmute.edu.vn</a>
                    </span>
                </div>
            </div>
            <div class="content-right">
                <label for="" class="text">Name</label>
                <input type="text">
                <label for="" class="text">Email</label>
                <input type="text">
                <label for="" class="text">Message</label>
                <input type="text">
                <button class="send" value="submit">Submit</button>
            </div>
        </div>
    </div>
</body>

</html>