:root {
    --bs-white: #fff;
    --bs-gray: #ccc;
    --bs-gray-61: #616161;
    --bs-black-3: #333333;
    --bs-black-1: #111111;
    --bs-white-rgba: rgba(0, 0, 0, 0.3);
    --bs-font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: var(--bs-font-family);
}

html, body {
    font-size: 17px;
}

#top-nav {
    position: relative;
}

#top-nav .top-nav-height {
    position: static;
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 100%;
    text-align: right;
    background-color: var(--bs-black-3);
}

/* general use for top-nav and header */

.container {
    width: 93.075%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: inherit;
}

#top-nav .pull-right {
    float: right;
    height: 25px;
    width: 312px;
}

#top-nav a {
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    text-decoration: none;
    color: var(--bs-gray)
}

#top-nav a .icon-login {
    font-size: 15px;
    margin-right: 5px;
}

#header {
    position: relative;
    width: 100%;
}

#header #navbar {
    height: 78px;
    border: 1px solid var(--bs-white-rgba);
}

#header .container {
    position: relative;
}

#header .navbar-header {
    position: absolute;
    width: 133px;
    height: 66px;
}

#header .logo {
    float: left;
    width: 133px;
    height: inherit;
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    line-height: 20px;
}

#header .logo>img {
    display: block;
    float: left;
    height: auto;
    top: 0;
    width: 100%;
}

/* Change in to day */
#header #htv-navbar {
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#header li a {
    color: var(--bs-gray-61);
}

#htv-navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: 0;
    text-align: center;
}

#nav, .subnav {
    list-style-type: none;
}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 76px;
    padding: 0 40px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a, 
#nav .subnav li:hover a {
    color: #333;
    background-color: #ccc;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav .subnav {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color:var(--bs-white);
    box-shadow: 0 0 10px var(--bs-white-rgba);
}

#nav .subnav a {
    line-height: 70px;
    padding-right: 72px;
    font-size: 15px;
    width: 100%;
    text-align: left;
}