:root {
    --bs-white: #fff;
    --bs-gray: #ccc;
    --bs-gray-61: #616161;
    --bs-black-3: #333333;
    --bs-black-1: #111111;
    --bs-white-rgba: rgba(0, 0, 0, 0.3);
    --bs-font-family: Arial, Helvetica, sans-serif;
    --bs-height-navbar: 94px;
    --bs-height-text: 92px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}


@keyframes circular {
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

img {
    animation: circular 10s linear 0s infinite;
    -webkit-animation: circular 10s linear 0s infinite;
    -moz-animation: circular 10s linear 0s infinite;
    -o-animation: circular 10s linear 0s infinite; 
}

html {
    font-family: var(--bs-font-family);
}

html, body {
    font-size: 17px;
}
/* design top-nav */
#top-nav {
    position: relative;
}

#top-nav .top-nav-height {
    position: static;
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 100%;
    text-align: right;
    background-color: var(--bs-black-3);
}

/* use for top-nav and header */

.container {
    position: relative;
    width: 93.075%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: inherit;
}

#top-nav .pull-right {
    float: right;
    height: 25px;
    width: 312px;
}

#top-nav a {
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    text-decoration: none;
    color: var(--bs-gray)
}

#top-nav a .icon-login {
    font-size: 15px;
    margin-right: 5px;
}

#header {
    position: fixed;
    width: 100%;
}

/* design navbar */
#navbar {
    height: var(--bs-height-navbar);
    border: 1px solid var(--bs-white-rgba);
}

#header .navbar-header {
    position: absolute;
    width: 133px;
    height: 66px;
}

#header .logo {
    width: 133px;
    height: inherit;
    float: left;
    margin-left: 0;
    margin-top: 20px;
    padding: 0;
    line-height: 20px;
}

#navbar .logo > img {
    position: absolute;
    width: 70%;
    height: auto;
    z-index: 20;
}

#navbar li a {
    color: var(--bs-gray-61);
}

#htv-navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 10;
}

.text{
    font-size: 15px;
    letter-spacing: 1px;
    line-height:var(--bs-height-text);
    padding-left: 3px;
}

.icon-font{
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
/* use for htv-navbar and nav-right */

#nav,  .subnav {
    list-style-type: none;
}

#nav,
#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    text-decoration: none;
    padding: 0 20px;
    display: block; 
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a, 
#nav .subnav li:hover a {
    color: var(--bs-black-3);
    background-color: var(--bs-gray);
}

#nav>li>a {
    text-transform: uppercase;
    display: flex;
}

#nav .subnav {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--bs-white);
    box-shadow: 0 0 10px var(--bs-white-rgba);
}

#nav .subnav a {
    line-height: 70px;
    font-size: 15px;
    text-align: left;
}

/* design nav-right */
#navbar .nav-right{
    position: relative;
    top: 0;
    right: 0;
    float: right;
    width: 180px;
    height: 40px;
    margin-top: 25px;
    margin-right: -15px;
    padding-right: 15px;
    z-index: 20;
    display: flex;
}

.nav-right span{
    float: left;
    line-height: 40px;
    padding-right: 3px;
    color: var(--bs-gray-61);
    cursor: pointer;
}

.nav-right .icon-search{
    position: absolute;
    right: 0;
    font-size: 30px;
    margin-right: 15px;
}

/* End header */

/* Start slider */