:root {
    --bs-white: #fff;
    --bs-gray: #ccc;
    --bs-gray-61: #616161;
    --bs-black-3: #333333;
    --bs-black-1: #111111;
    --bs-white-rgba: rgba(0, 0, 0, 0.3);
    --bs-font-family: Arial, Helvetica, sans-serif;
    --bs-font-ti-icon: 30x;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: var(--bs-font-family);
}

html, body {
    font-size: 17px;
}

#top-nav {
    position: relative;
}

#top-nav .top-nav-height {
    position: static;
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 100%;
    text-align: right;
    background-color: var(--bs-black-3);
}

/* general use for top-nav and header */

.container {
    position: relative;
    width: 93.075%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: inherit;
}

#top-nav .pull-right {
    float: right;
    height: 25px;
    width: 312px;
}

#top-nav a {
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    text-decoration: none;
    color: var(--bs-gray)
}

#top-nav a .icon-login {
    font-size: 15px;
    margin-right: 5px;
}

#header {
    position: fixed;
    width: 100%;
}

#navbar {
    height: 78px;
    border: 1px solid var(--bs-white-rgba);
}

#header .navbar-header {
    position: absolute;
    width: 133px;
    height: 66px;
}

#header .logo {
    width: 133px;
    height: inherit;
    float: left;
    margin-left: 0;
    margin-top: 2px;
    padding: 0;
    line-height: 20px;
}

#navbar .logo > img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 20;
}

/* Change in to day */

#navbar li a {
    color: var(--bs-gray-61);
}

#htv-navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: 0;
    text-align: center;
    z-index: 10;
}

#nav .icon-font{
    font-size: 30px;
    line-height: 76px;
    float: left;
    padding-right: 5px;
}

#nav .text{
    font-size: 15px;
}

#nav .icon-down{
    font-size: 13px;
}

#nav,  .subnav {
    list-style-type: none;
}

#nav,
#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 76px;
    padding: 0 20px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a, 
#nav .subnav li:hover a {
    color: var(--bs-black-3);
    background-color: var(--bs-gray);
}

#nav>li>a {
    text-transform: uppercase;
}

#nav .subnav {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--bs-white);
    box-shadow: 0 0 10px var(--bs-white-rgba);
}

#nav .subnav a {
    line-height: 70px;
    font-size: 15px;
    text-align: left;
}

#navbar .nav-right{
    position: relative;
    top: 0;
    right: 0;
    float: right;
    width: 200px;
    height: 40px;
    margin-top: 11px;
    margin-right: -15px;
    padding-right: 15px;
    z-index: 20;
}

#navbar .nav-right span{
    cursor: pointer;
    line-height: 40px;
    color: var(--bs-gray-61)
}

#navbar .nav-right .icon-arrow-down{
    font-size: 14px;
}

.nav-right .icon-buy{
    font-size: 30px;
}

.nav-right .icon-search{
    font-size: 30px;
    float: right;
}

.nav-right  .text-buy{
    font-size: 19px;
}
