<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../styles/Sass/css/about/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="content-left">
            </div>
            <div class="content-right">
                <img src="../../styles/img/about/iphone-about.png" alt="" class="content-right-picture">
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="box">
            <div class="hero-top">
                <span class="hero-top-text">ONLINE LEARNING</span>
            </div>
            <div class="hero-bottom">
                <span class="hero-bottom-text">Welcome!</span>
            </div>
        </div>
        <span class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia,
            nulla. Repellendus
        </span>
    </div>
</body>

</html>