:root {
  --bs-white: #fff;
  --bs-gray: #ccc;
  --bs-gray-61: #616161;
  --bs-black-3: #333333;
  --bs-black-1: #111111;
  --bs-red: #d81414;
  --bs-white-rgba: rgba(0, 0, 0, 0.3);
  --bs-font-family: Arial, Helvetica, sans-serif;
  --bs-height-navbar: 83px;
  --bs-height-text: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

@keyframes circular {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

html {
  font-family: var(--bs-font-family);
}

html,
body {
  font-size: 17px;
}

#top-nav {
  position: relative;
  .top-nav-height {
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 25px;
    position: static;
    text-align: right;
    background-color: var(--bs-black-3);
  }
  .pull-right {
    float: right;
    width: 312px;
    height: 25px;
  }
  a {
    height: 25px;
    float: right;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--bs-gray);
    .icon-login {
      font-size: 15px;
      margin-right: 5px;
    }
  }
}

.container {
  position: relative;
  width: 93.075%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  background-color: var(--bs-white);
  .navbar-header {
    width: 133px;
    height: 66px;
    position: absolute;
  }
  .logo {
    padding: 0;
    float: left;
    width: 133px;
    margin-left: 0;
    height: inherit;
    margin-top: 11px;
    line-height: 20px;
  }
}

#navbar {
  height: var(--bs-height-navbar);
  border-bottom: 1px solid var(--bs-white-rgba);
  .logo > img {
    width: 53%;
    z-index: 20;
    height: auto;
    position: absolute;
    animation: circular 30s linear 0s infinite;
    -webkit-animation: circular 30s linear 0s infinite;
    -moz-animation: circular 30s linear 0s infinite;
    -o-animation: circular 30s linear 0s infinite;
  }
  li a {
    color: var(--bs-gray-61);
  }
  .nav-right {
    position: relative;
    top: 0;
    right: 0;
    z-index: 20;
    float: right;
    width: 150px;
    height: 40px;
    display: flex;
    margin-top: 19px;
    margin-right: -15px;
    padding-right: 15px;

    span {
      float: left;
      cursor: pointer;
      line-height: 40px;
      padding-right: 3px;
      color: var(--bs-gray-61);
    }
    .icon-search {
      right: 0;
      font-size: 25px;
      margin-right: 15px;
      position: absolute;
    }
  }
}

#htv-navbar {
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
  position: absolute;
  text-align: center;
  // z-index: 10;
  //   overflow: hidden;
}

.text {
  font-size: 1vw;
  padding-left: 3px;
  line-height: var(--bs-height-text);
}

.icon-font {
  width: 2vw;
  background-repeat: no-repeat;
  background-position: center;
}

#nav {
  display: inline-block;
  list-style-type: none;
  li {
    position: relative;
    &:hover .subnav {
      display: block;
    }
    a {
      display: block;
      padding: 0 1.3vw;
      text-decoration: none;
    }
  }
  > li {
    display: inline-block;
    &:hover > a {
      border-bottom: 2px solid var(--bs-red);
    }
    > a {
      display: flex;
      text-transform: uppercase;
    }
  }
  .subnav {
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: var(--bs-white);
    box-shadow: 0 0 10px var(--bs-white-rgba);
    li:hover a {
      color: var(--bs-black-3);
      background-color: var(--bs-gray);
    }
    a {
      font-size: 15px;
      text-align: left;
      line-height: 50px;
    }
  }
}

#slider {
  position: relative;
  background: url(../../img/backgroundSilder/phone.jpg) top center / cover
    no-repeat;
  padding-top: 50%;
  margin-top: 108px;
  z-index: 10;
}
