/* Break Point */

/* PC */

@media (max-width: 1024px) {}

@media(min-width: 1100px) {
    .nav-right .icon-menu {
        display: none;
    }
}

/* Tablet */

@media (max-width:1100px) {
    #nav, #nav>li {
        display: block;
    }
    #nav{
        margin-top: 82px;
    }


    #htv-navbar {
        height: 83px;
    } 

    .nav-right {
        height: 30px;
        .hidden{
            display: none;
        }
    }

    .nav-right {
        .icon-search {
            margin-left: 20px;
            left: 0;
        }
        .icon-menu{
            position: absolute;
            right: 0;
            margin-right: 15px;
            font-size: 30px;
        }
    }

    .text {
        font-size: 15px;
    }
    .icon-font {
        width: 30px;
    }
}

/* Mobile */