//common]
.pd-10 {
    padding: 10px;
}

.rd-52 {
    border-radius: 52px;
}

.pr-10 {
    margin-right: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-negative-8 {
    margin-left: -8px;
}

.check {
    border: 1px solid #f30 !important;
    color: #f30;
}

.border-select{
    border: 1px solid #f30 !important;
}

//end common
.top-banner {
    position: relative;
    margin-top: 108px;
    width: 1200px;

    img {
        height: 285px;
        width: 1200px;
        object-fit: cover;
    }
}

.filter-beetle {
    margin: 10px auto;
    width: 1200px;
    height: 45px;

    ion-icon {
        font-size: 10px;
    }

    .filter-title {
        float: left;

        ul {
            list-style-type: none;
        }

        &:first-child {
            margin-left: -10px;
        }

        &:hover .dropdown__list {
            display: block;
        }
    }

    .dropdown__select {
        position: relative;
        display: inline-block;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        line-height: 17px;
        margin-left: 10px;

        &:hover {
            border: 1px solid #f30;
        }
    }

    .dropdown__item {
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 4px;
        display: inline-block;
        font-size: 14px;
        margin-top: 15px;
        margin-left: 15px;

        &:first-child:before {
            --left: 0;
            content: '';
            height: 15px;
            position: absolute;
            top: 0;
            left: var(--left);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            transform: translateY(-100%);
        }

        &:hover{
            border: 1px solid #f30;
            color: #f30;
        }
    }

    .dropdown__list {
        --width: 0px;
        position: absolute;
        margin-top: 15px;
        z-index: 20;
        float: left;
        width: var(--width);
        background-color: #fff;
        display: none;
        box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
        border-radius: 6px;

        &:before {
            content: "";
            height: 15px;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-100%);
        }

        li {
            cursor: pointer;
        }

        a {
            color: #000;
        }

        // a:hover {
        //     color: #f30;
        // }

        // a:hover .dropdown__item {
        //     border: 1px solid #f30;
        // }

        .button-find__item {
            text-align: center;
            padding: 20px 0;
            border-top: 1px solid #f1f1f1;
            margin-top: 10px;

            .button__cancel,
            .button__submit {
                background-color: #fff;
                width: 170px;
                border-radius: 6px;
                overflow: hidden;
                height: 40px;
                line-height: 38px;
                cursor: pointer;
                font-size: 13px;
                font-weight: 500;
            }

            .button__cancel {
                border: 1px solid #f30;
                color: #f30;
                margin-right: 15px;

                &:hover {
                    background-color: #f30;
                    color: #fff;
                }
            }

            .button__submit {
                border: 1px solid #288ad6;
                color: #288ad6;

                &:hover {
                    background-color: #288ad6;
                    color: #fff;
                }
            }
        }
    }

    .filter-price .dropdown__item:first-child:before {
        --left: 50px;
    }

    .filter-type .dropdown__item:first-child:before {
        --left: 110px;
    }

    .filter-pin .dropdown__item:first-child:before {
        --left: 44px;
    }

    .filter-ram .dropdown__item:first-child:before {
        --left: 50px;
    }

    .filter-rom .dropdown__item:first-child:before {
        --left: 53px;
    }

    .filter-camera .dropdown__item:first-child:before {
        --left: 70px;
    }

    .filter-future .dropdown__item:first-child:before {
        --left: 110px;
    }

    .filter-design .dropdown__item:first-child:before {
        --left: 63px;
    }

    .filter-screen .dropdown__item:first-child:before {
        --left: 63px;
    }

    .filter-price .dropdown__list {
        --width: 600px;
    }

    .filter-type .dropdown__list {
        --width: 400px;
    }

    .filter-pin .dropdown__list {
        --width: 400px;
    }

    .filter-ram .dropdown__list {
        --width: 400px;
    }

    .filter-rom .dropdown__list {
        --width: 376px;
    }

    .filter-camera .dropdown__list {
        --width: 400px;
    }

    .filter-future .dropdown__list {
        --width: 385px;
    }

    .filter-design .dropdown__list {
        --width: 380px;
    }

    .filter-screen .dropdown__list {
        --width: 400px;
    }

    span {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 19px;
    }

    .filter-text {
        font-size: 14px;
        line-height: 24px;
    }
}

#brand {
    width: 1200px;
    display: flex;
    justify-content: center;

    #lst-brand {
        display: flex;
        flex-wrap: wrap;

        .brand-item {
            display: flex;
            border: 2px solid #ccc;
            cursor: pointer;
            margin-right: 8px;
            margin-bottom: 10px;
            padding: 6px 13px;
            background-color: #fff;

            &:hover {
                border: 2px solid #f30;
                transition: 1s;
            }
        }

        img.no-text {
            margin-right: 0;
            width: auto;
            height: 30px;
        }
    }
}

.container-productbox {
    display: block;
    overflow: hidden;
    width: 1200px;
    padding-top: 20px;
}

.cards {
    --spacing: 2px;
    --columns: 5;
    display: flex;
    flex-wrap: wrap;
    // margin-left: calc(-1 * var(--spacing));
    margin: 0 10px 0 8px;
    position: relative;
    z-index: 10;
    padding-bottom: 50px;

    a {
        width: 100%;
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-shrink: 0;
    }


    .card {
        // border-radius: 2px;
        overflow: hidden;
        background-color: white;
        border: 1px solid #f1f1f1;
        border-radius: 0;
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        // margin-left: var(--spacing);
        // margin-bottom: var(--spacing);

        &:hover {
            box-shadow: 0 2px 12px rgb(0 0 0 / 12%)
        }

        &:hover .card-image {
            transform: translateY(-8px);
            transition: 0.6s ease-in-out;
        }

        &:hover .card-name {
            color: #f30;
        }
    }

    .card-sale {
        --font-size: 12px;
        padding: 10px 15px;
        font-size: var(--font-size);
        color: #000;
        display: flex;

        p {
            display: inline-block;
            background-color: #e6e6e6;
            margin-bottom: 0;
        }
    }

    .card-image {
        --height: 250px;
        padding: 10px 0;
        height: var(--height);
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
        margin-top: 3px;
    }

    .card-content {
        flex-direction: column;
        flex: 1;
        display: flex;
        padding: 10px;

        .card-name {
            --font-size: 16px;
            font-weight: 400;
            font-size: var(--font-size);
            margin-bottom: 10px;
        }

        .card-price {
            --font-size: 17px;
            font-size: 17px;
            padding-bottom: 5px;
            font-weight: bold;
            margin-toP: auto;
        }

        .card-discount {
            --font-size: 14px;
            font-size: var(--font-size);
        }
    }

    .card {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1023px) {
    .cards {
        --columns: 4;

        .card-image {
            --height: 307px;
        }
    }
}

@media screen and (max-width: 767px) {
    .cards {
        --spacing: 15px;
        --columns: 3;

        .card-image {
            --height: 400px;
        }
    }
}

@media screen and (max-width: 500px) {
    .cards {
        --spacing: 15px;
        --columns: 2;

        .card-image {
            --height: 590px;
        }
    }
}

@media screen and (max-width: 1200px) {
    html {
        width: 1200px;
    }
}