*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.trans__li{
    transition: all 1s;
}

.rotate-angle__180{
    display: inline-block;
    transform: rotate(180deg);
}

.htv-navbar__state, 
.nav-right__state{
    visibility: hidden;
    transform: scale(0);
    transition: 0.3s linear;
}

.nav-search__state{
    visibility: visible !important;
    transform: scale(1) !important;
}

.pd-10 {
    padding: 10px;
}

.rd-52 {
    border-radius: 52px;
}

.pr-10 {
    margin-right: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-negative-8 {
    margin-left: -8px;
}

.check {
    border: 1px solid $primary-color !important;
    color: $primary-color;
}
.border-dropdown__select{
    border: 1px solid $primary-color !important;
}

.block-dropdown__list{
    display: block !important;
}

.border-select{
    border: 1px solid $primary-color !important;
}
