.banner {
    --height-slider: 250px;
    position: relative;
    margin-top: var(--bs-height-header);
    // margin-top: calc(var(--bs-height-navbar) + 24px);
    max-width: 1200px;
    display: flex;

    &-img {
        height: var(--height-slider);
        object-fit: cover;
        width: 100vw;
        padding: 0 10px;
    }
}

@include maxw(767px){
    .banner{
        --height-slider: 200px;
        margin-top: calc(var(--bs-height-header) - $reduce-height-navbar);
    }
}