.slider {
    position: relative;
    margin-top: 108px;
    max-width: 1200px;
    display: flex;

    &-img {
        height: 285px;
        object-fit: cover;
        width: 100vw;
        padding: 0 10px;
    }
}

// @include maxw(767px){
//     .slider{
//         padding: 0 10px;
//     }
// }