/* Break Point */

/* PC */

@media screen and (max-width: 1400px) {
    #content{
        --space-column: 15px;
        --space-row: 15px;
        --max-height-img-box: 300px;
        transition: 0.3s ease;
    }
}

//new content
@media screen and(max-width: 1056px) {
    #content{
        --max-height-img-box: 250px;
    }
}

@media screen and (max-width: 1023px) {
    #content {
        --height-scroll: 100%;
        .col-third {
            width: 80%;
            height: 100%;
            padding: 0;
        }

        .new-content {
            .event-main {
                position: relative;
                display: grid;
                grid-template-columns: 1fr;
                height: 100%;
                gap: 20px;

                .event-row {
                    height: 400px;

                    .col-event {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .place-img-event {
                        object-fit: cover;
                        height: 50%;
                    }

                    .event-text-box {
                        // height: 100% !important;
                        vertical-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 993px) {
    .new-content {
        --width-content: 100% !important;
    }

    .list-top-img {
        grid-template-columns: 1fr !important;
    }

    .list-center-img {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .list-bottom-img {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .img-box {
        --max-height-img-box: 1000px !important;
        grid-row-gap: 15px !important;
    }
}



@media (max-width: 1024px) {
    .top-nav {
        z-index: 110;

        .top-nav-height {
            position: static;
            height: 25px;
            text-align: right;
            background-color: var(--background-top-nav);
        }

        .top-nav-height {
            a {
                height: 25px;
                line-height: 25px;
                margin-left: 10px;
                margin-right: 0;
                font-size: 14px;
                float: left;
                color: var(--color-text);
                width: auto;
                padding: 0 10px;

                .iconfont {
                    margin-right: 5px;
                    border: none;
                    font-size: 14px;
                    width: auto;
                    height: auto;
                    float: left;
                }
            }
        }
    }
}

@media(min-width: 1100px) {
    .nav-right .icon-menu {
        display: none;
    }
}

/* Tablet */

@media (max-width: 1100px) {
    #nav {
        position: absolute;
        display: inline-block;
        top: 101%;
        width: 100%;
        height: auto;
        transform: translateX(120%);

        .nav-item-show {
            visibility: visible;
            transform: translateX(-120%);
        }

        &,
        li {
            display: block;
        }

        li {
            transition: all 1s;
        }

        a {
            background-color: var(--bs-color-header-footer);
        }
        
        .nav-product-hide{
            display: none;
            transition: 0.3s linear;
        }
    
        .subnav{
            display: none !important;
        }

        .show-subnav{
            display: block !important;
        }
        
        .rotate-angle-down{
            transform: rotate(180deg);
        }
    }

    #text {
        display: none;
    }

    .nav-right {
        height: 30px;

        .hidden {
            display: none;
        }

        .icon-search {
            margin-left: 20px;
            left: 0;
        }

        .icon-menu {
            position: absolute;
            right: 0;
            margin-right: 15px;
            font-size: 30px;
        }
    }

    .text {
        font-size: 15px;
        line-height: 55px;
    }

    .icon-font {
        width: 30px;
    }

    .icon-font-white {
        width: 30px;
    }
}

/* Mobile */
@media (max-width: 900px) {
    .slider {
        width: 100%;
    }

    .slider .slide .info {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    .slider .slide .info h2 {
        font-size: 1.8em;
        line-height: 40px;
    }

    .slider .slide .info p {
        font-size: 0.9em;
    }
}