* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: var(--bs-font-family);
    width: 100%;
}

html,
body {
    background-color: var(--bs-color-body);
    font-size: 17px !important;
    color: var(--bs-font-color-light);
}

.htv-navbar__state, 
.nav-right__state{
    visibility: hidden;
    transform: scale(0);
    transition: 0.3s linear;
}

.nav-search__state{
    visibility: visible !important;
    transform: scale(1) !important;
}

.trans__li{
    transition: all 1s;
}

.rotate-angle__180{
    display: inline-block;
    transform: rotate(180deg);
}

.mb-25 {
    margin-bottom: 25px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-15 {
    margin-right: 15px;
}

.ml-15 {
    margin-left: 15px;
}

