#content {
    height: inherit;
    --space-column: 30px;
    --space-row: 30px;
    --max-height-img-box: 410px;
    --height-scroll: 460px;

    .new-content {
        // --width-content: 75%;
        --width-content: 85.652%;
        margin: 0 auto;
        padding: 0 15px;
        width: var(--width-content);
        max-width: 1430.016px;
        height: auto;

        .new-top {
            text-align: center;

            .title {
                position: relative;
                padding: 50px 0;
                margin: 0;

                &::after {
                    content: "";
                    background: var(--bs-color-red);
                    width: 75px;
                    height: 2px;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 35px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .panel-list-img {
            display: flex;
            flex-direction: column;
            width: auto;
            gap: var(--space-row);
            transition: 0.3s ease;

            .list-top-img {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-column-gap: var(--space-column);
            }

            .list-center-img {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: var(--space-column);
            }

            .list-bottom-img {
                display: grid;
                // grid-template-columns: repeat(3, 1fr);
                grid-template-columns: 1.015fr 0.98fr 0.98fr;
                grid-column-gap: var(--space-column);
                grid-row-gap: var(--space-row);
            }

            .img {
                &-box {
                    width: 100%;
                    position: relative;
                    max-height: var(--max-height-img-box);
                    object-fit: cover;
                    overflow: hidden;

                    a {
                        display: block;
                        height: 100%;

                        &:hover .text-box {
                            bottom: 0;
                            transition: all 0.3s linear;
                            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
                        }
                    }

                    .mask {
                        position: absolute;
                        height: 50%;
                        width: 100%;
                        bottom: 0;

                        &:hover {
                            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
                        }


                        .text-box {
                            text-align: left;
                            position: absolute;
                            width: 100%;
                            padding: 25px 30px;
                            bottom: -50px;
                            color: var(--bs-font-color-dark);
                            line-height: 26px;
                            transition: all 0.3s linear;
                            line-height: 1.5;
                            color: #fff !important;

                            &>div:hover {
                                text-decoration: underline;
                            }

                            .category {
                                // font-size: 19px;
                                font-size: 1vw;
                                font-weight: 400;
                            }

                            .name {
                                // font-size: 24px;
                                font-size: 1.3vw;
                                font-weight: bold;
                            }

                            .text-in-img {
                                font-size: 15px;
                                opacity: 0.8;
                                margin-bottom: 20px;
                            }

                            .more {
                                span {
                                    font-size: 20px;
                                    font-weight: 500;
                                }

                                .iconfont {
                                    font-size: 12px;
                                    color: #e91e63;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                &-click {
                    width: 100%;
                    max-height: var(--max-height-img-box);
                    object-fit: cover;
                    height: 100%;
                }
            }
        }

        .event-main {
            height: 469px;
            position: relative;

            .event-row {
                width: 100%;
            }

            .event-text-box {
                height: 50%;
                width: 100%;
                background-color: var(--bs-color-event-box);
                padding: 30px;

                .sub-title {
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                .info {
                    &-address {
                        display: inline-block;
                        height: 46px;
                    }

                    &-text {
                        word-break: break-all;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                        font-size: 16px;
                    }
                }
            }

            .new-text-box {
                display: block;
                width: 100%;
                height: 100%;
                background-color: var(--bs-color-event-box);

                .scroll {
                    padding: 30px 0;
                    overflow: hidden;
                    height: var(--height-scroll);

                    .info {
                        padding: 0 30px;
                        overflow-y: auto;
                        height: var(--height-scroll);

                        &-text {
                            padding: 10px;
                        }

                        .sub-title {
                            word-break: break-all;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            word-break: break-word;
                            font-size: 20px;
                            margin-bottom: 0;
                        }
                    }
                }

            }

            .topic {
                position: absolute;
                top: 0;
                width: 77px;
                height: 32px;
                background-color: #e91e63;
                color: #fff;
                text-align: center;
                line-height: 32px;
            }
        }

        .btn-group {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;

            .btn-more {
                border-radius: 4px;
                width: 170px;
                height: 40px;
                border: 1px solid var(--bs-color-border);
                background-color: var(--bs-white);
                color: var(--bs-font-color-light);
                font-size: 15px;
                font-weight: 600;
                text-align: center;
                line-height: 36px;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    background-color: var(--bs-color-btn-more);
                    color: #fff;
                }
            }
        }
    }

    .col-event {
        float: left;
        height: 480px;
    }

    .col-third {
        width: calc(100% / 3);
    }

    .place-img-center {
        width: 100%;
    }

    .place-img-bottom {
        width: 100%;
    }

    .place-img-event {
        width: 100%;
        display: block;
        height: 240px;
    }

    .pl-15 {
        padding-left: 15px;
    }

    .pr-15 {
        padding-right: 15px;
    }

    .story {
        margin-top: 100px;
        width: 100%;

        img {
            width: 100%;
            height: 730px;
            object-fit: cover;
        }
    }
}

@include maxw(1400px){
    #content{
        --space-column: 15px;
        --space-row: 15px;
        --max-height-img-box: 300px;
        transition: 0.3s ease;
    }
}

@include maxw(1056px){
    #content{
        --max-height-img-box: 250px;
    }
}

@include maxw(1023px){
    #content {
        --height-scroll: 100%;
        .col-third {
            width: 80%;
            height: 100%;
            padding: 0;
        }

        .new-content {
            .event-main {
                position: relative;
                display: grid;
                grid-template-columns: 1fr;
                height: 100%;
                gap: 20px;

                .event-row {
                    height: 400px;

                    .col-event {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .place-img-event {
                        object-fit: cover;
                        height: 50%;
                    }

                    .event-text-box {
                        // height: 100% !important;
                        vertical-align: center;
                    }
                }
            }

            .panel-list-img{
                .img-box{
                    .mask{
                        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
                        .text-box{
                            padding: 10px;
                            bottom: 0;

                            .text-in-img{
                                margin-bottom: 5px;
                            }

                            .more{
                                span{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include maxw(993px){
    #content{
        .new-content {
            --width-content: 100%;

            .panel-list-img{
                .list-top-img {
                    grid-template-columns: repeat(2,1fr);
                }

                .list-center-img {
                    grid-template-columns: repeat(2, 1fr);
                }

                .list-bottom-img {
                    grid-template-columns: repeat(2, 1fr);
                }

                .img-box {
                    --max-height-img-box: 390px;
                    grid-row-gap: 15px;
                }
            }
        }
    }
}

@include maxw(768px){
    #navbar .nav-right .icon-search{
        display: none !important;
    }
    #content{
        .new-content {
            --width-content: 100%;

            .panel-list-img{
                .list-top-img {
                    grid-template-columns: 1fr;
                    grid-row-gap: 15px;
                }

                .list-center-img {
                    grid-template-columns: 1fr;
                    grid-row-gap: 15px;
                }

                .list-bottom-img {
                    grid-template-columns: 1fr;
                }

                .img-box {
                    --max-height-img-box: 390px;
                    grid-row-gap: 15px;
                    .mask{
                        .text-box{
                            .category{
                                font-size: 10px;
                            }
                            .name, .text-in-img{
                                font-size: 14px;
                            }
                            .more{
                                span{
                                    font-size: 14px;
                                }
                                .iconfont{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}